<div class="div-form-container">
  <form class="form-container" nz-form [nzLayout]="'vertical'" [formGroup]="responsableStepForm">
    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.ResponsableStep.FirstName' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="firstNameErrorTpl">
        <input nz-input formControlName="firstName" />
        <ng-template #firstNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.ResponsableStep.RequiredFirstName' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.ResponsableStep.LastName' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="lastNameErrorTpl">
        <input nz-input formControlName="lastName" />
        <ng-template #lastNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.ResponsableStep.RequiredLastName' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.ResponsableStep.IdentityNumber' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="identityNumberErrorTpl">
        <input nz-input formControlName="identityNumber" />
        <ng-template #identityNumberErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.ResponsableStep.RequiredIdentityNumber' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.ResponsableStep.Email' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" type="email" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.ResponsableStep.RequiredEmail' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.ResponsableStep.PhoneNumber' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="phoneNumberErrorTpl">
        <input type="number" nz-input formControlName="phoneNumber" />
        <ng-template #phoneNumberErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.ResponsableStep.RequiredPhoneNumber' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>
        {{ 'RequestDonation.DonationSteps.ResponsableStep.Position' | translate }}
      </nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="position" />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
