<div *ngIf="outlet.isActivated == false">
  <div class="table-operations">
    <h4 class="section-title">{{ 'Admin.Donation.Title' | translate }}</h4>
    <div class="create-button">
      <button routerLink="./create" nz-button nzType="primary">
        {{ 'Admin.Create' | translate }}
      </button>
    </div>
    <nz-divider></nz-divider>
    <button nz-button nzType="secondary">{{ 'Admin.ClearFilter' | translate }}</button>
    <button nz-button nzType="secondary">{{ 'Admin.ClearFilterAndSorted' | translate }}</button>
  </div>
  <nz-table #donationTable [nzData]="donationRequests">
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of donationTable.data">
        <td>{{ data.title }}</td>
        <td>{{ data.finishDate }}</td>
        <td>{{ data.observation }}</td>
        <td>
          <a>{{ 'Admin.Edit' | translate }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-popconfirm
            nzPopconfirmTitle="{{ 'Admin.Donation.DeleteConfirmation' | translate }}"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteDonationRequest(data)"
            >{{ 'Admin.Delete' | translate }}</a
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<router-outlet #outlet="outlet"></router-outlet>
