<div>
  <nz-spin *ngIf="this.donationSandbox.loadAction$ || this.questionSandbox.loadAction$ | async" nzTip="Loading...">
  </nz-spin>
  <form nz-form [formGroup]="form">
    <div *ngFor="let question of questions" class="form-row">
      <nz-form-item>
        <div class="form-label">
          <nz-form-label nzRequired>{{ question.label }}</nz-form-label>
          <br />
        </div>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <div [ngSwitch]="question.controlTypeId">
            <div *ngSwitchCase="controlTypeEnum.Textbox">
              <input
                nz-input
                [formControlName]="question.id"
                [id]="question.id"
                type="number"
                [min]="question.min"
                [max]="question.max"
              />
            </div>

            <div *ngSwitchCase="controlTypeEnum.DropDown">
              <nz-select class="drop-label" [id]="question.id" [formControlName]="question.id">
                <nz-option *ngFor="let opt of question.options" [nzValue]="opt.label" [nzLabel]="opt.label">
                </nz-option>
              </nz-select>
            </div>

            <div *ngSwitchCase="controlTypeEnum.RadioButton">
              <nz-radio-group [formControlName]="question.id">
                <label nz-radio [nzValue]="opt.label" *ngFor="let opt of question.options"> {{ opt.label }} </label>
              </nz-radio-group>
            </div>
            <div class="errorMessage" *ngIf="!valid">{{ question.label }} is required</div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="form-row">
      <button nz-button nzType="primary" nzType="primary" (click)="onSubmit()" [disabled]="!form || !form.valid">
        Save
      </button>
    </div>
  </form>
</div>
