<div [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label }}</label>

  <div [ngSwitch]="question.controlType">
    <input
      *ngSwitchCase="'textbox'"
      nz-input
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />

    <nz-select [id]="question.key" *ngSwitchCase="'dropdown'" [ngModel]="question.key">
      <nz-option *ngFor="let opt of question.options" [nzValue]="opt.key" [nzLabel]="opt.value"></nz-option>
    </nz-select>

    <div *ngSwitchCase="'radiobutton'">
      <nz-radio-group *ngFor="let opt of question.options" [(ngModel)]="question.key">
        <label nz-radio nzValue="opt.key">{{ opt.value }</label>
      </nz-radio-group>
    </div>

    <div *ngSwitchCase="'checkbox'">
      <div *ngFor="let opt of question.options" [formControlName]="question.key">
        <input type="checkbox" [id]="opt.key" [name]="question.key" [value]="opt.key" />
        <label [for]="opt.key">{{ opt.value }}</label
        ><br />
      </div>
    </div>
  </div>
  <br />

  <div class="errorMessage" *ngIf="!isValid">{{ question.label }} is required</div>
</div>
