<nz-form-item>
  <nz-form-label [nzSpan]="7" nzRequired>{{ question.label }}</nz-form-label>

  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="streetErrorTpl">
    <div [ngSwitch]="question.controlType">
      <div *ngSwitchCase="'radiobutton'">
        <input
          *ngSwitchCase="'textbox'"
          nz-input
          [formControlName]="question.key"
          [id]="question.key"
          [type]="question.type"
        />
      </div>

      <div *ngSwitchCase="'dropdown'">
        <nz-select [id]="question.key" [formControlName]="question.key">
          <nz-option *ngFor="let opt of question.options" [nzValue]="opt.key" [nzLabel]="opt.value"></nz-option>
        </nz-select>
      </div>

      <div *ngSwitchCase="'radiobutton'">
        <nz-radio-group *ngFor="let opt of question.options" [ngModel]="question.key">
          <label nz-radio nzValue="opt.key">{{ opt.value }}</label>
        </nz-radio-group>
      </div>

      <div *ngSwitchCase="'checkbox'">
        <div *ngFor="let opt of question.options" [formControlName]="question.key">
          <label nz-checkbox [(ngModel)]="opt.key">{{ opt.value }}</label>
          ><br />
        </div>
      </div>

      <div class="errorMessage" *ngIf="!isValid">{{ question.label }} is required</div>
    </div>
  </nz-form-control>
</nz-form-item>
