<form class="form-container" nz-form [nzLayout]="'vertical'">
  <nz-form-item>
    <nz-form-label>
      {{ 'RequestDonation.DonationSteps.FinishStep.Observation' | translate }}
    </nz-form-label>
    <nz-form-control>
      <textarea
        [(ngModel)]="observation"
        nz-input
        rows="2"
        placeholder="{{ 'RequestDonation.DonationSteps.FinishStep.ObservationPlaceHolder' | translate }}"
        (focusout)="emitForm()"
      >
      </textarea>
    </nz-form-control>
  </nz-form-item>
</form>

<br />

<nz-table [nzData]="donationItems" [nzLoading]="this.donationSandbox.donationRequestLoading$ | async">
  <thead>
    <tr>
      <th nzColumnKey="itemName" nzWidth="25%">
        {{ 'RequestDonation.DonationItemList.Item' | translate }}
      </th>
      <th nzColumnKey="description" nzWidth="40%">
        {{ 'RequestDonation.DonationItemList.Description' | translate }}
      </th>
      <th nzColumnKey="quantityToDonate" nzWidth="10%">
        {{ 'RequestDonation.DonationItemList.QuantityToDonate' | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of donationItems">
      <td>{{ item.donationRequestItem.name }}</td>
      <td>{{ item.donationRequestItem.observation }}</td>
      <td>{{ item.quantity }}</td>
    </tr>
  </tbody>
</nz-table>
