<nz-form-item>
  <nz-form-label [nzSpan]="7">
    {{ 'RequestDonation.DonationSteps.FinishStep.Observation' | translate }}
  </nz-form-label>
  <nz-form-control [nzSpan]="12">
    <textarea
      [(ngModel)]="observation"
      nz-input
      rows="2"
      placeholder="{{ 'RequestDonation.DonationSteps.FinishStep.ObservationPlaceHolder' | translate }}"
    >
    </textarea>
  </nz-form-control>
</nz-form-item>

<nz-table [nzData]="donationItems" [nzLoading]="this.donationSandbox.donationRequestLoading$ | async">
  <thead>
    <tr>
      <th nzColumnKey="itemName" nzWidth="25%">
        {{ 'RequestDonation.DonationItemList.Item' | translate }}
      </th>
      <th nzColumnKey="description" nzWidth="40%">
        {{ 'RequestDonation.DonationItemList.Description' | translate }}
      </th>
      <th nzColumnKey="quantityToDonate" nzWidth="10%">
        {{ 'RequestDonation.DonationItemList.QuantityToDonate' | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of donationItems">
      <td>{{ data.item.name }}</td>
      <td>{{ data.item.observation }}</td>
      <td>{{ data.quantityToDonate }}</td>
    </tr>
  </tbody>
</nz-table>
