<div>
  <div class="create-donation-title">
    <h4 class="section-title">{{ 'Admin.Donation.Edit.Title' | translate }}</h4>
  </div>
  <br />
  <nz-spin *ngIf="this.isLoading" nzTip="Loading..."> </nz-spin>
  <app-donations-form
    *ngIf="this.donationRequest"
    (validationResult)="updateDonationRequest($event)"
    [donationRequest]="this.donationRequest"
  ></app-donations-form>
  <br />
  <div class="create-donation-form-buttons">
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.Donation.BackConfirm' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="goBack()"
      nz-button
      nzType="primary"
      nz-button
      nzType="primary"
    >
      {{ 'CancelBtn' | translate }}
    </button>
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.Donation.EditConfirm' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="validateDonationRequestForm()"
      nz-button
      nzType="primary"
      type="submit"
    >
      {{ 'Admin.Donation.Edit.Save' | translate }}
    </button>
  </div>
</div>
