html {
  position: relative;
  min-height: 100%;
  padding-bottom: 10%;
}
body {
  background-image: url("../bg.webp");
  background-size: cover;
  min-height: 100%;
  padding-top: 10%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}

.form-card {
  width: 100%;
  max-width: 50%;
  padding: 2%;
  margin: auto;
  background-color: #f5f5f5;
}

.form-card .checkbox {
  font-weight: 400;
}

.form-card .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-card .form-control:focus {
  z-index: 2;
}

.form-card input {
  margin-top: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: left;
  padding-left: 2.5%;
}

a {
  color: #1da57a;
}

.card-title {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

.submit-button {
  background-color: #1da57a;
  border-color: #1da57a;
}

.cancel-button {
  background-color: #b4c6da;
  border-color: #b4c6da;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3db389;
  border-color: #3db389;
}

.field-validation-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: flex;
  justify-content: center;
}
