html {
  position: relative;
  min-height: 100%;
  padding-bottom: 10%;
}
body {
  font-family: "Proxima Nova", "Segoe UI", "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-size: cover;
  min-height: 100%;
  padding-top: 10%;
  display: -ms-flexbox flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
}
h4 {
  font-weight: 400;
  color: #000;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.75em;
  line-height: 3.75em;
  background-color: #222;
  color: #fff;
  text-align: left;
  padding-left: 2.5%;
}
.form-card,
.message-box {
  width: 100%;
  max-width: 50%;
  padding: 2%;
  color: #fff;
  margin: auto;
  border-radius: 5px;
  border-color: #c4c4c4;
  background: #fff;
}
.form-card .checkbox,
.message-box .checkbox {
  font-weight: 400;
}
.form-card .form-input,
.message-box .form-input {
  background: 0 0 !important;
  border: none;
  border-bottom: 2px solid #222;
  border-radius: 0;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1.2em;
}
.form-card .form-control,
.message-box .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.62em;
  font-size: 1em;
}
.form-card .form-control:focus,
.message-box .form-control:focus {
  z-index: 2;
}
.form-card input,
.message-box input {
  margin-top: 2em;
}
.card-subtitle {
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
  color: #000;
}
a {
  color: #c800a1;
}
a:hover {
  color: #c800a1;
  text-decoration: none;
}
label {
  color: #fff;
}
.card-title {
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: 800 !important;
}
.btn,
.btn-primary,
.submit-button {
  background: linear-gradient(90deg, #f4633a, #c800a1);
  border: none;
  color: #fff;
  font-weight: 400;
  max-width: 50%;
  border-radius: 2px;
  margin: 0 auto;
}
.logo {
  margin: 2em 0;
}
.logo img {
  width: 14em;
}
.nav-link {
  color: #c800a1;
}
span {
  color: #000;
  font-weight: 400;
  font-size: 1em;
}
.alert-password {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1em;
}
.cancel-button {
  background-color: #b4c6da;
  border-color: #b4c6da;
}
.btn-primary:active,
.btn-primary:hover {
  border: none;
  background: linear-gradient(90deg, #c800a1, #0033a0);
}
.field-validation-error {
  color: red;
  position: relative;
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: center;
}
.field-validation-error span {
  color: red;
}
.container-message {
  display: flex;
  align-items: center;
}
.client-card {
  background: linear-gradient(90deg, #f4633a 0, #c800a1 100%);
  padding: 1.5em;
}
.btn-save {
  width: 100%;
}
