@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<form class="form-card" asp-action="ChangePassword">
    <div class="logo"><img src="~/Images/logotype-black.png"></div>
    <h5 class="mb-3 font-weight-normal card-subtitle">Change Password</h5>

    <input type="hidden" asp-for="ReturnUrl" />

    <label asp-for="CurrentPassword" class="sr-only">Current password</label>
    <input asp-for="CurrentPassword" id="currentPassword" class="form-input form-control" placeholder="Current Password">
    <i class="glyphicon glyphicon-heart"></i>
    <span asp-validation-for="CurrentPassword"></span>

    <label asp-for="NewPassword" class="sr-only">New Password</label>
    <input asp-for="NewPassword" id="newPassword" class="form-input form-control" oninput="CheckPasswordCriteria(this.value)" placeholder="New Password">
    <i class="glyphicon glyphicon-heart"></i>
    <span asp-validation-for="NewPassword"></span>
    <div class="alert-password">
        <span>
            The password must have at least 8 characters, 1 number, 1 uppercase letter, 1 lowercase letter.
        </span>
    </div>
    <label asp-for="ConfirmNewPassword" class="sr-only">Re-enter New Password</label>
    <input type="password" id="confirmNewPassword" asp-for="ConfirmNewPassword" class="form-input form-control" oninput="CheckPasswordMatch(this.value)" placeholder="Re-enter New Password">
    <span asp-validation-for="ConfirmNewPassword"></span>

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <input type="submit" value="CHANGE PASSWORD" class="btn btn-lg btn-primary btn-block submit-button" />
    </div>
</form>

<script src="~/js/changePassword.js" asp-append-version="true"></script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
