@model RedirectHomeViewModel
@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container-message">
    <div class="message-box">
        <h6>Thank you for confirming your email.</h6>
        <br>
        <a href="@(Model.RedirectUris)">Go to home page </a>
    </div>
</div>