@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container-message">
    <div class="message-box">
        <h6>Thank you for confirming your email.</h6>
        <br>
        @Html.ActionLink(" Please Login.", "login")
    </div>
</div>