@{
    ViewData["Title"] = "Error";
}

<div class="container-message">
    <div class="message-box">
        <div class="logo"><img src="~/Images/logotype-black.png"></div>
        <br>
        <h4>An error occurred while processing your request.</h4>
    </div>
</div>