@{
    ViewData["Title"] = "Error";
}

<div class="container-message">
    <div class="message-box">
        <h1 class="text-danger">Error.</h1>
        <br>
        <h3>An error occurred while processing your request.</h3>
    </div>
</div>