@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

    <form class="form-card" asp-action="ForgotPassword">
        <h3 class="mb-3 font-weight-normal card-title">Forgot Password</h3>

        <label asp-for="Email" class="sr-only">Email address</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="E-mail">
        <span asp-validation-for="Email"></span>

        <div asp-validation-summary="All" class="text-danger"></div>
        <br />
        <div class="form-group">
            <input type="submit" value="Send Reset Email" class="btn btn-lg btn-primary btn-block submit-button" />
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}