@model ForgotPasswordConfirmationViewModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
    <div class="container-message">
        <div class="message-box">
            <h6>An email was sent to your address, please check it to reset your password.</h6>
            <br>
            <a href="@(Model.RedirectUris)">Go to home page </a>
        </div>
    </div>