@model ForgotPasswordConfirmationViewModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<p>
    An email was sent to your address, please check it to reset your password.
    <br>
    <br>

    <a href="@Url.Action("RedirectUris","ForgotPasswordConfirmationViewModel")">Go to home page </a></h2>
    <br>
    <a href="@Url.ActionLink("RedirectUris","ForgotPasswordConfirmationViewModel")"> Go to home2 </a>
    @*Please <a href="@(model.RedirectUris)">click here</a> to return to the HomePage.*@
</p>
