@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password Confirmation";
}

    <form class="form-card" asp-action="ResetPassword">
        <div class="logo"><img src="~/Images/logotype-black.png"></div>
        <h5 class="mb-3 font-weight-normal card-subtitle">Reset Password</h5>
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />

        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" id="password" class="form-input form-control" oninput="CheckPasswordCriteria(this.value)" placeholder="Password">
        <i class="glyphicon glyphicon-heart"></i>
        <span asp-validation-for="Password"></span>
        <div class="alert-password">
            <spam>
                The password must have at least 8 characters, 1 number, 1 uppercase letter, 1 lowercase letter.
            </spam>
        </div>

        <label asp-for="ConfirmPassword" class="sr-only">Re-enter Password</label>
        <input type="password" id="confirmPassword" asp-for="ConfirmPassword" class="form-input form-control" oninput="CheckPasswordMatch(this.value)" placeholder="Re-enter Password">
        <span asp-validation-for="ConfirmPassword"></span>


        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <input type="submit" value="Reset Password" class="btn btn-lg btn-primary btn-block submit-button" />
        </div>
    </form>

<script src="~/js/signup.js" asp-append-version="true"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
