@{
    ViewData["Title"] = "Reset Password Confirmation";
}


<div class="form-card">
    <p>
        Your password has been reset. Please <a asp-action="Login">click here</a> to log in.
    </p>
</div>
