@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="container-message">
    <div class="message-box">
        <h6>Your password has been reset.</h6>
        <br>
        Please <a asp-action="Login">click here</a> to log in.
    </div>
</div>