@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="container-message">
    <div class="message-box">
        <div class="logo"><img src="~/Images/logotype-black.png"></div>
        <h4>Your password has been reset.</h4>
        <br>
        <span>
            Please <a asp-action="Login">click here</a> to log in.
        </span>
    </div>
</div>