@using DonateTo.ApplicationCore.Common
@{
    ViewData["Title"] = "Signed Up!";
}

<div class="container-message">
    <div class="message-box">
        <h2>Signed Up!!!</h2>
        @if (User.IsInRole(Roles.Superadmin))
        {
            <br>
            <a class="btn btn-lg btn-primary btn-block submit-button" href="@Url.Action("Index","Home")">Go to home page </a>
        }
    </div>
</div>