@import '~ng-zorro-antd/ng-zorro-antd.min.css';
#main-layout .content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
}
#main-layout {
  height: 100%;
}

.admin-layout {
  margin-top: 4.4em;
}

#main-layout .header {
  padding: 0 20px;
}
#main-layout .header .logo {
  width: auto;
  height: 31px;
  margin: 0px 24px 16px 0;
  float: left;
  color: white;
  font-size: 30px;
}

.menu-link {
  display: flex;
  align-items: center;
}

svg {
  margin-right: 6px;
  font-size: 24px;
}

.section-layout {
  padding: 24px;
}

.main-layout-content {
  background: rgb(255, 255, 255);
  padding: 24px;
  min-height: 280px;
}

.table-operations {
  margin-bottom: 16px;
}

.create-button {
  float: right;
}

.section-title {
  display: inline;
}

.ant-btn {
  margin-right: 8px;
}
