<nz-layout class="admin-layout">
  <nz-sider nzTheme="light">
    <ul nz-menu>
      <li nz-menu-item nzSelected>
        <i nz-icon [nzTheme]="'outline'" [nzType]="'heart'"></i>
        Donations
      </li>
      <li nz-menu-item>
        <i nz-icon [nzTheme]="'outline'" [nzType]="'team'"></i>
        Users
      </li>
      <li nz-menu-item>
        <i nz-icon [nzTheme]="'outline'" [nzType]="'profile'"></i>
        Organizations
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>Content</nz-content>
  </nz-layout>
</nz-layout>
