nz-sider {
  background: #3ba0e9;
  color: #fff;
}

nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
}
