<nz-layout id="main-layout">
  <app-nav-menu></app-nav-menu>
  <nz-layout class="admin-layout">
    <nz-sider nzTheme="light">
      <ul nz-menu>
        <li nz-menu-item nzSelected>
          <a class="menu-link" routerLink="./donation">
            <i nz-icon [nzTheme]="'outline'" [nzType]="'heart'"></i>
            Donations
          </a>
        </li>
        <li class="menu-link" nz-menu-item>
          <a routerLink="./user">
            <i nz-icon [nzTheme]="'outline'" [nzType]="'team'"></i>
            Users
          </a>
        </li>
        <li class="menu-link" nz-menu-item>
          <a routerLink="./organization">
            <i nz-icon [nzTheme]="'outline'" [nzType]="'profile'"></i>
            Organizations
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <section class="section-layout">
        <main class="main-layout-content">
          <router-outlet></router-outlet>
        </main>
      </section>
    </nz-layout>
  </nz-layout>
</nz-layout>
