.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.button-div {
  margin-left: 93%;
  margin-right: 7%;
  margin-bottom: 2em;
}
