<div class="tabs-container">
  <nz-tabset [nzCanDeactivate]="canDeactivate">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" [nzDisabled]="tab.disabled">
      <!-- Title -->
      <ng-template #titleTemplate>
        <i nz-icon [nzType]="tab.icon"></i>
        {{ tab.name | translate }}
      </ng-template>

      <!-- Content-->
      <div class="steps-content">
        <app-organization-step-general-information
          *ngIf="tab.currentStep === 0"
          (isFormValid)="isGeneralInformationStepReady($event)"
          [generalInformationModel]="generalInformationModel"
          [isEditOrganization]="isEditOrganization"
        >
        </app-organization-step-general-information>

        <app-organization-step-contact
          *ngIf="tab.currentStep === 1"
          (isFormValid)="isContactStepReady($event)"
          [contactModel]="contactModel"
          [isEditOrganization]="isEditOrganization"
          [contactForBranch]="false"
        >
        </app-organization-step-contact>

        <app-organization-step-address
          *ngIf="tab.currentStep === 2"
          (isFormValid)="isAddressStepReady($event)"
          [isEditOrganization]="isEditOrganization"
        >
        </app-organization-step-address>
      </div>
    </nz-tab>
  </nz-tabset>

  <!-- Steps Buttons -->
  <div class="finish-button">
    <button nz-button nzType="primary" (click)="done()" *ngIf="currentStep === 2 && !isEditOrganization">
      <span>{{ 'Admin.Organization.OrganizationSteps.CreateOrganizationButton' | translate }}</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="currentStep === 2 && isEditOrganization">
      <span>{{ 'Admin.Organization.OrganizationSteps.FinishEditOrganizationButton' | translate }}</span>
    </button>
  </div>
</div>
