<form class="form-container" nz-form [nzLayout]="'vertical'" [formGroup]="generalInformationStepForm">
  <!-- Organization Name -->
  <nz-form-item>
    <nz-form-label nzRequired>
      {{ 'Admin.Organization.OrganizationSteps.GeneralInformation.OrganizationName' | translate }}
    </nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="organizationNameError">
      <input nz-input formControlName="organizationName" [(ngModel)]="organizationName" />
      <ng-template #organizationNameError let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'Admin.Organization.OrganizationSteps.GeneralInformation.RequiredOrganizationName' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Description -->
  <nz-form-item>
    <nz-form-label nzRequired>
      {{ 'Admin.Organization.OrganizationSteps.GeneralInformation.Description' | translate }}
    </nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="descriptionError">
      <textarea nz-input rows="4" formControlName="description" [(ngModel)]="description"> </textarea>
      <ng-template #descriptionError let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'Admin.Organization.OrganizationSteps.GeneralInformation.RequiredDescription' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
