<div class="donations-list">
  <app-donation-requests-list
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [modalClosed]="modalClosed"
    (showModal)="showModal($event)"
  ></app-donation-requests-list>
</div>

<ng-template #modalContent>
  <div *ngIf="item">
    <app-donation-request-detail [item]="item"></app-donation-request-detail>
  </div>
</ng-template>

<ng-template #modalFooter>
  <button nz-button key="back" (click)="hideModal()">{{ 'CancelBtn' | translate }}</button>
  <button nz-button key="" type="primary" (click)="goToDonate(item.id)">
    {{ 'RequestDonation.Donate' | translate }}
  </button>
</ng-template>
