<div *ngIf="homeSandbox.isAuthenticated">{{ 'Auth.Username' || translate }}: {{ homeSandbox.userName }}</div>
<div class="search">
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input
      type="text"
      [(ngModel)]="searchValue"
      (input)="onSearch()"
      size="large"
      nz-input
      placeholder="{{ 'SearchPlaceHolder' | translate }}"
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
</div>

<div class="donations-list">
  <app-donation-requests-list
    [donationRequests]="requests"
    (pageChange)="onPageChange($event)"
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [loading]="homeSandbox.donationRequestsLoading$ | async"
    (showModal)="showModal($event)"
  ></app-donation-requests-list>
</div>

<ng-template #modalContent>
  <div *ngIf="item">
    <app-donation-request-detail [item]="item"></app-donation-request-detail>
  </div>
</ng-template>
<ng-template #modalFooter>
  <button nz-button key="back" (click)="hideModal()">{{ 'CancelBtn' | translate }}</button>
  <button nz-button key="submit" type="primary" (click)="goToDonate(item.id)">
    {{ 'RequestDonation.Donate' | translate }}
  </button>
</ng-template>
