<div class="search">
  <nz-spin *ngIf="this.homeSandbox.donationRequestsLoading$ | async" nzTip="Loading..."> </nz-spin>
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input
      class="input-container"
      type="text"
      [(ngModel)]="searchValue"
      (input)="onChange()"
      size="large"
      nz-input
      placeholder="{{ 'SearchPlaceHolder' | translate }}"
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
</div>

<div class="donations-list">
  <app-donation-requests-list
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [modalClosed]="modalClosed"
    (showModal)="showModal($event)"
  ></app-donation-requests-list>
</div>

<ng-template #modalContent>
  <div *ngIf="item">
    <app-donation-request-detail [item]="item"></app-donation-request-detail>
  </div>
</ng-template>

<ng-template #modalFooter>
  <button nz-button key="back" (click)="hideModal()">{{ 'CancelBtn' | translate }}</button>
  <button nz-button key="" type="primary" (click)="goToDonate(item.id)">
    {{ 'RequestDonation.Donate' | translate }}
  </button>
</ng-template>
