<div>
  <br />
  <app-user-form
    *ngIf="this.user"
    (validationResult)="updateUser($event)"
    [donationRequest]="this.user"
  ></app-user-form>
  <br />
  <div class="create-user-form-buttons">
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.Donation.Form.DeleteItemConfirmation' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="validateUserForm()"
      nz-button
      nzType="primary"
      type="submit"
    >
      {{ 'Admin.User.Edit.Save' | translate }}
    </button>
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.Donation.BackConfirm' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="goBack()"
      nz-button
      nzType="primary"
      nz-button
      nzType="primary"
    >
      {{ 'BackBtn' | translate }}
    </button>
  </div>
</div>
