.description {
  margin-top: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tags {
  margin-top: 1.25em;
}
.ant-card-body {
  padding: 1em;
}
nz-card-meta {
  padding: 1em 1em 0em 1em;
}

:host ::ng-deep .ant-card-actions li {
  flex-direction: column;
}

.action-buttons {
  margin-right: 1em;
}

:host ::ng-deep svg:hover {
  color: inherit !important;
}

:host ::ng-deep .ant-rate-star-full {
  color: #c800a1 !important;
}

.btn-closed-modal {
  background: linear-gradient(90deg, #f4633a 0%, #c800a1 100%);
  border: none;
}

.btn-closed-modal:hover {
  background: linear-gradient(90deg, #c800a1, #0033a0);
  border: none;
}
