<!-- <a-card hoverable :loading="loading">
  <a-card-meta :title="title" :description="organization" />
  <p class="description">{{ name }}</p>
  <span>
      Priority:  
      <a-rate
          allowHalf
          :defaultValue="priority"
          disabled 
      >
          <a-icon slot="character" type="heart" theme="filled" class="rate-icon" />
      </a-rate>
  </span>
  <br />
  <span>Created: 05/12/2020</span><br />
  <span>Finish on: 10/12/2020</span>
  <div class="tags">            
      <a-tag>Salud</a-tag>
      <a-tag>Comida</a-tag>
      <a-tag>ONG</a-tag>
  </div>

  <template class="ant-card-actions" slot="actions">
      <div class="action-buttons">
          <a-button 
              ghost
              type="primary" 
              :disabled="loading" 
              @click="sendItem"
          >More detail</a-button>
      </div>
  </template>
</a-card> -->

<p class="description">{{ name }}</p>