<nz-modal [(nzVisible)]="isVisible" [nzFooter]="footer" (nzOnCancel)="handleCancel()">
  <h4>{{ 'Admin.User.SelectOrganization' | translate }}</h4>

  <nz-select
    class="dropdown-selector"
    [nzMaxTagCount]="3"
    [nzMaxTagPlaceholder]="tagPlaceHolder"
    nzMode="multiple"
    nzPlaceHolder="Please select"
    [(ngModel)]="this.selectedOrganizations"
    (ngModelChange)="confirmRemove()"
  >
    <nz-option *ngFor="let item of this.userSandbox.organizations$ | async" [nzLabel]="item.name" [nzValue]="item.id">
    </nz-option>
  </nz-select>

  <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>

  <ng-template #footer>
    <button nz-button nzType="default" (click)="handleCancel()">{{ 'CancelBtn' | translate }}</button>
    <button nz-button nzType="primary" (click)="handleOk()">{{ 'SaveBtn' | translate }}</button>
  </ng-template>
</nz-modal>
