<div>
  <nz-steps nzCurrent="currentStep">
    <nz-step
      nzTitle="{{ 'Donation.ResponsableStepTitle' | translate }}"
      nzStatus="{{ currentStep >= 0 ? 'finish' : 'wait' }}"
      nzIcon="user"
    >
    </nz-step>
    <nz-step
      nzTitle="{{ 'Donation.AddressStepTitle' | translate }}"
      nzStatus="{{ currentStep >= 1 ? 'finish' : 'wait' }}"
      nzIcon="home"
    ></nz-step>
    <nz-step
      nzTitle="{{ 'Donation.PickUpDateStepTitle' | translate }}"
      nzStatus="{{ currentStep >= 2 ? 'finish' : 'wait' }}"
      nzIcon="calendar"
    ></nz-step>
    <nz-step
      nzTitle="{{ 'Donation.FinishStepTitle' | translate }}"
      nzStatus="{{ currentStep >= 3 ? 'finish' : 'wait' }}"
      [nzIcon]="finishIcon"
    ></nz-step>
    <ng-template #finishIcon>
      <img
        src="assets/images/CSV-Communities-Guilds-Icons-17.png"
        [ngClass]="currentStep === 3 ? 'finish-icon-focus' : 'finish-icon-blur'"
      />
    </ng-template>
  </nz-steps>

  <div class="steps-content">
    <app-donation-step-responsable
      (isFormValid)="isResponsableStepReady($event)"
      [contactModel]="contactModel"
      *ngIf="currentStep === 0"
    ></app-donation-step-responsable>
    <app-donation-step-address
      (isFormValid)="isAddressStepReady($event)"
      [addressModel]="addressModel"
      *ngIf="currentStep === 1"
    ></app-donation-step-address>
    <app-donation-step-availability
      (isFormValid)="isAvailabilityStepReady($event)"
      [availabilities]="availabilities"
      *ngIf="currentStep === 2"
    ></app-donation-step-availability>
    <app-donation-step-finish
      (isFormValid)="isFinishStepReady($event)"
      [donationItems]="donationItems"
      [observation]="observation"
      *ngIf="currentStep === 3"
    ></app-donation-step-finish>
  </div>

  <div nz-row class="ant-row-end">
    <div nz-col class="donatesteps-action">
      <button nz-button nzType="default" (click)="prev()">
        <span>{{
          currentStep > 0
            ? ('RequestDonation.DonationSteps.PreviousButton' | translate)
            : ('RequestDonation.DonationSteps.CancelButton' | translate)
        }}</span>
      </button>

      <button nz-button nzType="default" (click)="next()" *ngIf="currentStep < 4" [disabled]="!stepsData[currentStep]">
        <span>{{ 'RequestDonation.DonationSteps.NextButton' | translate }}</span>
      </button>

      <button
        nz-button
        nzType="primary"
        (click)="done()"
        *ngIf="currentStep === 3"
        [disabled]="!stepsData[currentStep]"
      >
        <span>{{ 'RequestDonation.DonationSteps.DoneButton' | translate }}</span>
      </button>
    </div>
  </div>
</div>
