<div *ngIf="outlet.isActivated == false">
  <div class="table-operations">
    <h4 class="section-title">{{ 'Admin.Log.Title' | translate }}</h4>
    <nz-divider></nz-divider>
    <button nz-button nzType="secondary" (click)="reset()">{{ 'Admin.ClearFilter' | translate }}</button>
  </div>
  <nz-table
    #organizationsTable
    [nzData]="logList"
    nzTableLayout="fixed"
    [nzNoResult]="customTpl"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzCustomFilter nzColumnKey="message" [nzSortOrder]="'ascend'" [nzSortFn]="true">
          {{ 'Admin.Log.Table.Message' | translate }}
          <label
            class="filter"
            title="{{ 'Admin.Log.Table.Filtered' | translate }}"
            *ngIf="searchMessageValue.length > 0 && !messageVisible"
          >
            ({{ searchMessageValue }})
          </label>
          <nz-filter-trigger
            [(nzVisible)]="messageVisible"
            [nzActive]="searchMessageValue.length > 0"
            [nzDropdownMenu]="searchMessageMenu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter nzColumnKey="exception" [nzSortFn]="true">
          {{ 'Admin.Log.Table.Exception' | translate }}
          <label
            class="filter"
            title="{{ 'Admin.Log.Table.Filtered' | translate }}"
            *ngIf="searchExceptionValue.length > 0 && !exceptionVisible"
          >
            ({{ searchExceptionValue }})
          </label>
          <nz-filter-trigger
            [(nzVisible)]="exceptionVisible"
            [nzActive]="searchExceptionValue.length > 0"
            [nzDropdownMenu]="searchExceptionMenu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>
          {{ 'Admin.Log.Table.Action' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of organizationsTable.data">
        <tr>
          <td>{{ data.message }}</td>
          <td>{{ data.exception }}</td>
          <td>
            <a (click)="showDetail(data)">{{ 'Admin.View' | translate }}</a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>

<nz-dropdown-menu #searchMessageMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.Log.Table.Message' | translate }}"
        [(ngModel)]="searchMessageValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchMessage()" class="search-button">
        {{ 'Admin.Log.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetMessageSearch()">
        {{ 'Admin.Log.Table.Message' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #searchExceptionMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.Log.Table.Exception' | translate }}"
        [(ngModel)]="searchExceptionValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchException()" class="search-button">
        {{ 'Admin.Log.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetExceptionSearch()">
        {{ 'Admin.Log.Table.Reset' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<router-outlet #outlet="outlet"></router-outlet>

<ng-template #customTpl let-name>
  <div style="text-align: center;">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>{{ 'NoEntries' | translate }}</p>
  </div>
</ng-template>
<app-log-detail-modal></app-log-detail-modal>
