<nz-list
  [nzDataSource]="isLoading ? mockData : donationRequests"
  [nzRenderItem]="item"
  [nzGrid]="{ gutter: 16, span: 8 }"
  [nzPagination]="pagination"
  [nzNoResult]="customTpl"
>
  <ng-template #item let-itemData>
    <nz-list-item [nzContent]="isLoading ? '' : donationItem">
      <nz-skeleton [nzLoading]="isLoading" [nzActive]="true">
        <ng-template #donationItem>
          <app-donation-requests-list-item
            [item]="itemData"
            [loading]="isLoading"
            [modalClosed]="modalClosed"
            (showDetail)="showDetail($event)"
          ></app-donation-requests-list-item>
        </ng-template>
      </nz-skeleton>
    </nz-list-item>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination
      [nzHideOnSinglePage]="true"
      [nzPageIndex]="currentPage"
      [nzPageSize]="pageSize"
      [nzTotal]="totalItems"
      (nzPageIndexChange)="pageIndexChange($event)"
    ></nz-pagination>
  </ng-template>
</nz-list>

<ng-template #customTpl let-name>
  <div style="text-align: center;">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>{{ 'RequestDonation.NoEntries' | translate }}</p>
  </div>
</ng-template>
