<button nz-button nzType="dashed" class="add-button" (click)="addBranch()" class="add-new-branch-button">
  <i nz-icon nzType="plus"></i>
  {{ 'Admin.Organization.OrganizationSteps.Address.AddNewBranch' | translate }}
</button>
<nz-modal
  [(nzVisible)]="modalIsVisible"
  [nzTitle]="isEditAddress ? editTitle : createTitle"
  [nzOkLoading]="isOkLoading"
  nzWidth="1000"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #createTitle>
    {{ 'Admin.Organization.OrganizationSteps.Address.AddNewBranch' | translate }}
  </ng-template>
  <ng-template #editTitle>
    {{ 'Admin.Organization.OrganizationSteps.Address.EditBranch' | translate }}
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  </ng-template>

  <app-branch-modal
    (saveDone)="done()"
    (editDone)="editAddress()"
    [addressModel]="addressModel"
    [contactModel]="contactModel"
    [isBranchEdit]="false"
  >
  </app-branch-modal>
</nz-modal>

<br />
<!-- Table -->
<app-address-list
  [isEditOrganization]="isEditOrganization"
  [addresses]="addresses"
  (deleteAddress)="removeAddress($event)"
  (isEditAddress)="editAddress($event)"
>
</app-address-list>
