<form [formGroup]="addressItemFormGroup" class="address-table">
  <nz-form-item>
    <nz-form-control nzErrorTip="{{ 'Admin.Questions.Form.PriorityQuestionRequiredError' | translate }}">
      <div [(ngModel)]="addresses" ngDefaultControl formControlName="itemsFormControl">
        <nz-table
          [nzData]="addresses"
          [nzShowPagination]="false"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzNoResult]="customTpl"
        >
          <thead>
            <tr>
              <th *ngFor="let column of listOfColumns">
                {{ column.name | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of addresses; index as i">
              <tr>
                <td [nzExpand]="expandSet.has(item.id)" (nzExpandChange)="onExpandChange(item.id, $event)"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.street }}</td>
                <td>{{ item.postalCode }}</td>
                <td>{{ item.floor }}</td>
                <td>{{ item.appartment }}</td>
                <td>{{ item.country?.name }}</td>
                <td>{{ item.state?.name }}</td>
                <td>{{ item.city?.name }}</td>
                <td>{{ item.additionalInformation }}</td>
                <td>
                  <a
                    (click)="editAddress(item, i)"
                    nzTooltipTitle="{{ 'Admin.Organization.OrganizationSteps.Address.Edit' | translate }}"
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                    class="icon-link"
                  >
                    <i nz-icon nzType="edit" nzTheme="outline" class="action-icon"></i>
                  </a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a
                    (click)="removeAddress(item)"
                    nzTooltipTitle="{{ 'Admin.Organization.OrganizationSteps.Address.Delete' | translate }}"
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                    class="icon-link"
                  >
                    <i nz-icon nzType="delete" nzTheme="outline" class="action-icon"></i>
                  </a>
                </td>
              </tr>
              <tr [nzExpand]="expandSet.has(item.id)">
                <nz-descriptions
                  nzTitle="{{ 'Admin.Organization.OrganizationSteps.Contact.Contact' | translate }}"
                  [nzColumn]="2"
                >
                  <nz-descriptions-item
                    nzTitle="{{ 'Admin.Organization.OrganizationSteps.Contact.FirstName' | translate }}"
                  >
                    {{ item.contact.firstName }}
                  </nz-descriptions-item>

                  <nz-descriptions-item
                    nzTitle="{{ 'Admin.Organization.OrganizationSteps.Contact.LastName' | translate }}"
                  >
                    {{ item.contact.lastName }}
                  </nz-descriptions-item>

                  <nz-descriptions-item
                    nzTitle="{{ 'Admin.Organization.OrganizationSteps.Contact.Email' | translate }}"
                  >
                    {{ item.contact.email }}
                  </nz-descriptions-item>

                  <nz-descriptions-item
                    nzTitle="{{ 'Admin.Organization.OrganizationSteps.Contact.IdentityNumber' | translate }}"
                  >
                    {{ item.contact.identityNumber }}
                  </nz-descriptions-item>

                  <nz-descriptions-item
                    nzTitle="{{ 'Admin.Organization.OrganizationSteps.Contact.PhoneNumber' | translate }}"
                  >
                    {{ item.contact.phoneNumber }}
                  </nz-descriptions-item>

                  <nz-descriptions-item
                    nzTitle="{{ 'Admin.Organization.OrganizationSteps.Contact.Position' | translate }}"
                  >
                    {{ item.contact.position }}
                  </nz-descriptions-item>
                </nz-descriptions>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #customTpl let-name>
  <div style="text-align: center;">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>{{ 'NoEntries' | translate }}</p>
  </div>
</ng-template>

<ng-template #modalContent>
  <ng-template #createTitle>
    {{ 'Admin.Organization.OrganizationSteps.Address.AddNewBranch' | translate }}
  </ng-template>
  <ng-template #editTitle>
    {{ 'Admin.Organization.OrganizationSteps.Address.EditBranch' | translate }}
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  </ng-template>

  <app-branch-modal
    (editDone)="editedAddress($event)"
    [addressModel]="addressModel"
    [contactModel]="contactModel"
    [isBranchEdit]="isBranchEdit"
    [addressId]="addressId"
  >
  </app-branch-modal>
</ng-template>
