@import '~ng-zorro-antd/ng-zorro-antd.min.css';
#main-layout .list {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 50px;
  background: #fff;  
  margin-top: 64px;
}

#main-layout .header {
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

#main-layout .header .logo {
  width: auto;
  height: 31px;
  margin: 0px 24px 16px 0;
  float: left;
  color: #1da57a;
  font-size: 30px;
}

