<nz-table
  [nzData]="donationRequest?.donationRequestItems"
  [nzLoading]="this.donationSandbox.donationRequestLoading$ | async"
>
  <thead>
    <tr>
      <th nzColumnKey="itemName" nzWidth="25%">{{ 'RequestDonation.DonationItemList.Item' | translate }}</th>
      <th nzColumnKey="quantity" nzWidth="10%">
        {{ 'RequestDonation.DonationItemList.QuantityRequested' | translate }}
      </th>
      <th nzColumnKey="description" nzWidth="40%">{{ 'RequestDonation.DonationItemList.Description' | translate }}</th>
      <th nzColumnKey="quantityToDonate" nzWidth="10%">
        {{ 'RequestDonation.DonationItemList.QuantityToDonate' | translate }}
      </th>
      <th nzColumnKey="operation">{{ 'RequestDonation.DonationItemList.Operation' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editCache">
      <td>{{ data.item.name }}</td>
      <td>{{ data.item.finishQuantity - data.item.currentQuantity }} {{ data.item.unit?.code }}</td>
      <td>{{ data.item.observation }}</td>
      <ng-container *ngIf="!data.edit; else editTemplate">
        <td>{{ data.quantityToDonate }}</td>
        <td>
          <a (click)="startEdit(data.id)">{{ 'RequestDonation.DonationItemList.EditButton' | translate }}</a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <nz-input-number
            [(ngModel)]="data.quantityToDonate"
            [nzMin]="0"
            [nzMax]="data.item.finishQuantity - data.item.currentQuantity"
          ></nz-input-number>
        </td>
        <td>
          <a (click)="saveEdit(data.id)" class="save">{{
            'RequestDonation.DonationItemList.SaveButton' | translate
          }}</a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="{{ 'RequestDonation.DonationItemList.PopUpConfirmTitle' | translate }}"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="cancelEdit(data.id)"
            >{{ 'RequestDonation.DonationItemList.CancelButton' | translate }}</a
          >
        </td>
      </ng-template>
    </tr>
    <tr class="ant-row-end">
      <td colspan="5">
        <div class="donate">
          <button nz-button nzType="primary" (click)="donationConfirm()">
            {{ 'RequestDonation.DonationItemList.DonateButton' | translate }}!
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
