<nz-table
  [nzData]="donationRequest?.donationRequestItems"
  [nzLoading]="this.donationSandbox.donationRequestLoading$ | async"
  [nzNoResult]="customTpl"
>
  <thead>
    <tr>
      <th nzColumnKey="itemName" nzWidth="25%">{{ 'RequestDonation.DonationItemList.Item' | translate }}</th>
      <th nzColumnKey="quantity" nzWidth="10%">
        {{ 'RequestDonation.DonationItemList.QuantityRequested' | translate }}
      </th>
      <th nzColumnKey="description" nzWidth="40%">{{ 'RequestDonation.DonationItemList.Description' | translate }}</th>
      <th nzColumnKey="quantityToDonate" nzWidth="10%">
        {{ 'RequestDonation.DonationItemList.QuantityToDonate' | translate }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of editCache">
      <td>{{ data.item.name }}</td>
      <td>{{ data.item.finishQuantity - data.item.currentQuantity }} {{ data.item.unit?.code }}</td>
      <td>{{ data.item.observation }}</td>
      <td>
        <nz-input-number
          [(ngModel)]="data.quantityToDonate"
          [nzMin]="0"
          [nzMax]="data.item.finishQuantity - data.item.currentQuantity"
          (keyup.enter)="saveEdit(data.id)"
          (focusout)="saveEdit(data.id)"
        ></nz-input-number>
      </td>
    </tr>

    <tr class="ant-row-end">
      <td colspan="6">
        <div class="donate">
          <a nz-button nzType="secondary" [routerLink]="['/donation/my-donations']" class="back-button">
            <span *ngIf="isEdit">{{ 'BackBtn' | translate }}</span>
            <ng-template #notEditBlock>{{ 'RequestDonation.DonationItemList.DonateButton' | translate }}</ng-template>
          </a>
          <button nz-button nzType="secondary" (click)="donationConfirm()">
            <span *ngIf="isEdit; else notEditBlock">{{
              'RequestDonation.DonationItemList.MoreOptions' | translate
            }}</span>
            <ng-template #notEditBlock>{{ 'RequestDonation.DonationItemList.DonateButton' | translate }}</ng-template>
          </button>
          <button nz-button nzType="primary" (click)="donate()" class="donate-button">
            <span *ngIf="isEdit">{{ 'RequestDonation.DonationItemList.DonateButton' | translate }}</span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #customTpl let-name>
  <div style="text-align: center;">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>{{ 'RequestDonation.DonationItemList.NoEntries' | translate }}</p>
  </div>
</ng-template>
