<div>
  <div class="create-donation-title">
    <h4 class="section-title">{{ 'Admin.Donation.Create.Title' | translate }}</h4>
  </div>
  <br />
  <form [formGroup]="donationRequestFormGroup" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="title">{{ 'Admin.Donation.Create.Form.Title' | translate }}</nz-form-label>
      <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.TitleRequiredError' | translate }}">
        <input
          nz-input
          placeholder="{{ 'Admin.Donation.Create.Form.TitlePlaceholder' | translate }}"
          [(ngModel)]="donationRequest.title"
          formControlName="titleFormControl"
          name="title"
          type="text"
          id="title"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="observations">{{ 'Admin.Donation.Create.Form.Observations' | translate }}</nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          placeholder="{{ 'Admin.Donation.Create.Form.ObservationsPlaceholder' | translate }}"
          formControlName="observationFormControl"
          name="observations"
          id="observations"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="priority">{{ 'Admin.Donation.Create.Form.Priority' | translate }}</nz-form-label>
      <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.PriorityRequiredError' | translate }}">
        <nz-rate [(ngModel)]="donationRequest.priority" formControlName="priorityFormControl" nzCount="5"></nz-rate>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="organization">{{
        'Admin.Donation.Create.Form.Organization' | translate
      }}</nz-form-label>
      <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.OrganizationRequiredError' | translate }}">
        <nz-select
          nzPlaceHolder="{{ 'Admin.Donation.Create.Form.OrganizationPlaceholder' | translate }}"
          [(ngModel)]="donationRequest.organizationId"
          (ngModelChange)="SetOrganization()"
          formControlName="organizationFormControl"
        >
          <nz-option
            *ngFor="let organization of organizations"
            [nzValue]="organization.id"
            [nzLabel]="organization.name"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="address">{{ 'Admin.Donation.Create.Form.Address' | translate }}</nz-form-label>
      <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.AddressRequiredError' | translate }}">
        <nz-select
          nzPlaceHolder="{{ 'Admin.Donation.Create.Form.AddressPlaceholder' | translate }}"
          [(ngModel)]="donationRequest.addressId"
          formControlName="addressFormControl"
          nzDisabled="{{ addresses.length == 0 }}"
        >
          <nz-option *ngFor="let address of addresses" [nzValue]="address.id" [nzLabel]="address.street"> </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="finishDate">{{
        'Admin.Donation.Create.Form.FinishDate' | translate
      }}</nz-form-label>
      <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.FinishDateRequiredError' | translate }}">
        <nz-date-picker [(ngModel)]="donationRequest.finishDate" formControlName="finishDateFormControl">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="donationCategories">{{
        'Admin.Donation.Create.Form.Category' | translate
      }}</nz-form-label>
      <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.CategoryRequiredError' | translate }}">
        <nz-select
          [nzMaxTagCount]="2"
          nzPlaceHolder="{{ 'Admin.Donation.Create.Form.CategoryPlaceholder' | translate }}"
          formControlName="categoryFormControl"
          [(ngModel)]="selectedCategories"
          [nzMaxTagPlaceholder]="categoryTagPlaceHolder"
          nzMode="multiple"
        >
          <nz-option
            *ngFor="let category of categories"
            [nzLabel]="category.name"
            [nzValue]="category"
            [nzHide]="!IsCategorySelected(category)"
          ></nz-option>
        </nz-select>
        <ng-template #categoryTagPlaceHolder let-selectedList>
          {{ selectedList.length }} {{ 'Admin.Donation.Create.Form.OverflowTag' | translate }}
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <div [formGroup]="donationRequestItemFormGroup" class="create-donation-add-item-container">
      <div class="create-donation-add-item-box-first">
        <div>
          <nz-form-label class="donatio-item" nzRequired>{{
            'Admin.Donation.Create.Form.DonationItem.Name' | translate
          }}</nz-form-label>
          <nz-form-label>{{ 'Admin.Donation.Create.Form.DonationItem.Observation' | translate }}</nz-form-label>
        </div>
        <div class="create-donation-add-item-input">
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.DonationItem.NameRequiredError' | translate }}">
              <input
                nz-input
                placeholder="{{ 'Admin.Donation.Create.Form.DonationItem.NamePlaceholder' | translate }}"
                formControlName="nameFormControl"
                name="itemName"
                type="text"
                id="itemName"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input
                nz-input
                placeholder="{{ 'Admin.Donation.Create.Form.DonationItem.ObservationPlaceholder' | translate }}"
                formControlName="observationFormControl"
                name="itemObservation"
                type="text"
                id="itemObservation"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="create-donation-add-item-box-second">
        <div>
          <nz-form-label class="donatio-item" nzRequired>{{
            'Admin.Donation.Create.Form.DonationItem.Quantity' | translate
          }}</nz-form-label>
          <nz-form-label nzRequired>{{ 'Admin.Donation.Create.Form.Category' | translate }}</nz-form-label>
        </div>
        <div class="create-donation-add-item-input">
          <nz-form-item>
            <nz-form-control
              nzErrorTip="{{ 'Admin.Donation.Create.Form.DonationItem.QuantityRequiredError' | translate }}"
            >
              <input
                nz-input
                placeholder="{{ 'Admin.Donation.Create.Form.DonationItem.QuantityPlaceholder' | translate }}"
                formControlName="quantityFormControl"
                name="itemQuantity"
                type="number"
                min="1"
                id="itemQuantity"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.CategoryRequiredError' | translate }}">
              <nz-select
                [nzMaxTagCount]="2"
                [(ngModel)]="selectedItemCategories"
                formControlName="itemCategoryFormControl"
                [nzMaxTagPlaceholder]="categoryTagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="{{ 'Admin.Donation.Create.Form.CategoryPlaceholder' | translate }}"
              >
                <nz-option
                  *ngFor="let category of categories"
                  [nzLabel]="category.name"
                  [nzValue]="category"
                  [nzHide]="!IsItemCategorySelected(category)"
                ></nz-option>
              </nz-select>
              <ng-template #categoryItemTagPlaceHolder let-selectedItemList>
                {{ selectedItemList.length }} {{ 'Admin.Donation.Create.Form.OverflowTag' | translate }}
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <button
        type="button"
        class="donation-request-item-add"
        (click)="AddDonationRequestItem()"
        nz-button
        nzType="primary"
      >
        {{ 'Admin.Donation.Create.AddItem' | translate }}
      </button>
    </div>
    <br />
    <nz-form-item>
      <nz-form-control nzErrorTip="{{ 'Admin.Donation.Create.Form.DonationItemRequiredError' | translate }}">
        <div [(ngModel)]="donationRequest.donationRequestItems" ngDefaultControl formControlName="itemsFormControl">
          <nz-table
            [nzData]="donationRequest.donationRequestItems"
            [nzShowPagination]="false"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th *ngFor="let column of listOfColumns">
                  {{ column.name | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of donationRequest.donationRequestItems">
                <td>{{ item.name }}</td>
                <td>{{ item.finishQuantity }}</td>
                <td>{{ item.observation }}</td>
                <td>
                  <nz-tag *ngFor="let itemCategory of item.donationRequestItemCategories">
                    {{ GetCategoryName(itemCategory.categoryId) }}
                  </nz-tag>
                </td>
                <td>
                  <a (click)="RemoveDonationRequestItem(item)">{{ 'Admin.Delete' | translate }}</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-form-control>
    </nz-form-item>
    <br />
  </form>
  <div class="create-donation-form-buttons">
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.Donation.Create.Form.DeleteItemConfirmation' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="CreateDonationRequest()"
      nz-button
      nzType="primary"
      type="submit"
    >
      {{ 'Admin.Donation.Create.CreateRequest' | translate }}
    </button>
    <button routerLink=".." nz-button nzType="primary">
      {{ 'BackBtn' | translate }}
    </button>
  </div>
</div>
