.create-donation-title {
  display: flex;
  justify-content: space-between;
}

.create-donation-form-buttons {
  display: flex;
  justify-content: flex-end;
}

.donation-request-item-add {
  margin: 1em;
}
