.create-donation-add-item-container {
  display: flex;
  padding: 0em 12em 1em 2em;
}

.create-donation-add-item-box-first {
  width: 50%;
}

.create-donation-add-item-box-second {
  width: 40%;
  margin-left: 1em;
}

.create-donation-add-item-input nz-form-item,
.create-donation-add-item-box-second nz-select {
  width: 100%;
}

.create-donation-add-item-input {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.item-unit {
  width: 6em !important;
  margin-left: 0.5em;
}

.item-required {
  color: lightgray;
  font-style: italic;
}

.item-quantity {
  margin-left: 0 !important;
  width: 100%;
  display: flex;
}

.action-icon {
  font-size: 1.5em;
}

.icon-link {
  color: grey;
}

.create-container {
  max-width: 100%;
}

.first-container {
  padding: 0em 18em 1em 2em;
}
.date-format {
  width: 100%;
}

.divider-container {
  max-width: 76%;
  margin-left: 2em;
}
