<form [formGroup]="donationRequestFormGroup" nz-form>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="organization">{{ 'Admin.Donation.Form.Organization' | translate }}</nz-form-label>
    <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.OrganizationRequiredError' | translate }}">
      <nz-select
        nzPlaceHolder="{{ 'Admin.Donation.Form.OrganizationPlaceholder' | translate }}"
        [(ngModel)]="organizationId"
        (ngModelChange)="setOrganization()"
        formControlName="organizationFormControl"
        [nzDisabled]="isEdit"
      >
        <nz-option
          *ngFor="let organization of this.donationSandbox.organizations$ | async"
          [nzValue]="organization.id"
          [nzLabel]="organization.name"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="address">{{ 'Admin.Donation.Form.Address' | translate }}</nz-form-label>
    <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.AddressRequiredError' | translate }}">
      <nz-select
        nzPlaceHolder="{{ 'Admin.Donation.Form.AddressPlaceholder' | translate }}"
        [(ngModel)]="addressId"
        formControlName="addressFormControl"
        nzDisabled="{{ (this.donationSandbox.addressesByOrganization$ | async).length == 0 }}"
      >
        <nz-option
          *ngFor="let address of this.donationSandbox.addressesByOrganization$ | async"
          [nzValue]="address.id"
          [nzLabel]="address.street"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="finishDate">{{ 'Admin.Donation.Form.FinishDate' | translate }}</nz-form-label>
    <nz-form-control>
      <nz-date-picker [nzDisabledDate]="disabledDates" [(ngModel)]="finishDate" formControlName="finishDateFormControl">
      </nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="title">{{ 'Admin.Donation.Form.Title' | translate }}</nz-form-label>
    <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.TitleRequiredError' | translate }}">
      <input
        nz-input
        placeholder="{{ 'Admin.Donation.Form.TitlePlaceholder' | translate }}"
        [(ngModel)]="title"
        formControlName="titleFormControl"
        name="title"
        type="text"
        id="title"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="observations" nzFor="observations">{{
      'Admin.Donation.Form.Observations' | translate
    }}</nz-form-label>
    <nz-form-control>
      <textarea
        [(ngModel)]="observations"
        nz-input
        placeholder="{{ 'Admin.Donation.Form.ObservationsPlaceholder' | translate }}"
        formControlName="observationsFormControl"
        name="observations"
        id="observations"
      ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="donationRequest?.id">
    <nz-form-label nzRequired nzFor="status">{{ 'Admin.Donation.Form.Status' | translate }}</nz-form-label>
    <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.Status' | translate }}">
      <nz-select [(ngModel)]="statusId" formControlName="statusFormControl">
        <nz-option
          *ngFor="let state of this.donationSandbox.status$ | async"
          [nzValue]="state.id"
          [nzLabel]="state.name"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div [formGroup]="donationRequestItemFormGroup" class="create-donation-add-item-container">
    <div class="create-donation-add-item-box-first">
      <div class="create-item-container">
        <nz-form-label class="donations-item">{{ 'Admin.Donation.Form.DonationItem.Name' | translate }}</nz-form-label>
        <nz-form-label>{{ 'Admin.Donation.Form.DonationItem.Observation' | translate }}</nz-form-label>
      </div>
      <div class="create-item-container create-donation-add-item-input">
        <nz-form-item>
          <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.DonationItem.NameRequiredError' | translate }}">
            <input
              nz-input
              placeholder="{{ 'Admin.Donation.Form.DonationItem.NamePlaceholder' | translate }}"
              formControlName="nameFormControl"
              name="itemName"
              type="text"
              id="itemName"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <input
              nz-input
              placeholder="{{ 'Admin.Donation.Form.DonationItem.ObservationPlaceholder' | translate }}"
              formControlName="observationFormControl"
              name="itemObservation"
              type="text"
              id="itemObservation"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="create-donation-add-item-box-second">
      <div class="create-item-container">
        <nz-form-label class="donations-item">{{
          'Admin.Donation.Form.DonationItem.Quantity' | translate
        }}</nz-form-label>
      </div>
      <div class="create-item-container create-donation-add-item-input">
        <div class="item-quantity">
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.DonationItem.QuantityRequiredError' | translate }}">
              <input
                nz-input
                placeholder="{{ 'Admin.Donation.Form.DonationItem.QuantityPlaceholder' | translate }}"
                formControlName="quantityFormControl"
                name="itemQuantity"
                type="number"
                min="1"
                id="itemQuantity"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="item-unit">
            <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.DonationItem.UnitRequiredError' | translate }}">
              <nz-select formControlName="unitFormControl">
                <nz-option
                  *ngFor="let unit of this.donationSandbox.units$ | async"
                  [nzValue]="unit.id"
                  [nzLabel]="unit.code"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <button
          type="button"
          class="donation-request-item-add"
          (click)="addDonationRequestItem()"
          nz-button
          nzType="primary"
        >
          {{ 'Admin.Donation.Create.AddItem' | translate }}
        </button>
      </div>
    </div>
  </div>
  <span class="item-required">{{ 'Admin.Donation.Form.DonationItemRequiredError' | translate }}</span>
  <br />
  <nz-form-item>
    <nz-form-control nzErrorTip="{{ 'Admin.Donation.Form.DonationItemRequiredError' | translate }}">
      <div [(ngModel)]="donationRequestItems" ngDefaultControl formControlName="itemsFormControl">
        <nz-table
          [nzData]="donationRequestItems"
          [nzShowPagination]="false"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzNoResult]="customTpl"
        >
          <thead>
            <tr>
              <th *ngFor="let column of listOfColumns">
                {{ column.name | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of donationRequestItems">
              <td>{{ item.name }}</td>
              <td>{{ item.finishQuantity }}</td>
              <td>{{ item.observation }}</td>
              <td>
                <a
                  class="icon-link"
                  (click)="removeDonationRequestItem(item)"
                  nzTooltipTitle="{{ 'Admin.Donation.Form.DonationItem.DeleteItem' | translate }}"
                  nzTooltipPlacement="bottom"
                  nz-tooltip
                >
                  <i nz-icon nzType="delete" nzTheme="outline" class="action-icon"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #customTpl let-name>
  <div style="text-align: center;">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>{{ 'NoEntries' | translate }}</p>
  </div>
</ng-template>
