<div class="table-operations">
  <h4 class="section-title">{{ 'Admin.Donation.Title' | translate }}</h4>
  <div class="create-button">
    <button nz-button nzType="primary">
      {{ 'Admin.Create' | translate }}
    </button>
  </div>
  <nz-divider></nz-divider>
  <button nz-button nzType="secondary">{{ 'Admin.ClearFilter' | translate }}</button>
  <button nz-button nzType="secondary">{{ 'Admin.ClearFilterAndSorted' | translate }}</button>
</div>
<nz-table #donationTable [nzData]="listOfData">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of donationTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
      <td>
        <a>{{ 'Admin.View' | translate }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>{{ 'Admin.Details' | translate }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>{{ 'Admin.Delete' | translate }}</a>
      </td>
    </tr>
  </tbody>
</nz-table>
