<nz-header
  class="header"
  nz-menu
  nzTheme="dark"
  nzMode="horizontal"
  [style]="{ position: 'fixed', zIndex: 1, width: '100%' }"
>
  <div class="logo">
    <a routerLink="/">Donate</a>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="float-right">
    <li nz-menu-item *ngIf="!isAuthenticated">
      <a (click)="register()"> {{ 'Auth.Register.Title' | translate }} </a>
    </li>
    <li nz-menu-item *ngIf="!isAuthenticated">
      <a (click)="login()"> {{ 'Auth.Login.Title' | translate }} </a>
    </li>
    <li nz-menu-item *ngIf="isAuthenticated">
      <a [routerLink]="['/donation/my-donations']"> {{ 'NavBar.MyDonations' | translate }} </a>
    </li>
    <li nz-menu-item *ngIf="isAuthenticated">
      <a [routerLink]="['/my-profile']">{{ 'UserProfile.MyProfile' | translate }}</a>
    </li>
    <li nz-menu-item *ngIf="isAuthenticated && isOrganization">
      <a href="/admin"> Admin </a>
    </li>
    <li nz-menu-item *ngIf="isAuthenticated">
      <a (click)="logout()">{{ 'ProfileActionBar.Logout' | translate }}</a>
    </li>
    <li nz-menu-item>
      <nz-radio-group [(ngModel)]="language" nzButtonStyle="solid" (ngModelChange)="switchLanguage()">
        <label nz-radio-button nzValue="en">En</label>
        <label nz-radio-button nzValue="es">Es</label>
      </nz-radio-group>
    </li>
  </ul>
</nz-header>
