<nz-header class="header" nz-menu nzMode="horizontal">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo/logotype-black.png" />
    </a>
  </div>

  <div class="container-username">
    <div class="avatar"></div>

    <div>
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="dropdown-menu">
        <div class="user-name">Click me</div>
        <div><i nz-icon nzType="caret-down" nzTheme="outline"></i></div>
      </a>
    </div>
  </div>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="menu-item">1st menu item length</li>
      <li nz-menu-item class="menu-item">2nd menu item length</li>
      <li nz-menu-item class="menu-item">3rd menu item length</li>
    </ul>
  </nz-dropdown-menu>

  <!-- <ul nz-menu nzMode="horizontal">
    <li nz-menu-item class="sv-margin-x sv-link-wrapper" *ngIf="!isAuthenticated">
      <a class="sv-link" (click)="register()"> {{ 'Auth.Register.Title' | translate }} </a>
    </li>
    <li nz-menu-item class="sv-margin-x sv-link-wrapper" *ngIf="!isAuthenticated">
      <a class="sv-link" (click)="login()"> {{ 'Auth.Login.Title' | translate }} </a>
    </li>
    <li nz-menu-item class="sv-margin-x sv-link-wrapper" *ngIf="isAuthenticated">
      <a class="sv-link" [routerLink]="['/donation/my-donations']"> {{ 'NavBar.MyDonations' | translate }} </a>
    </li>
    <li nz-menu-item class="sv-margin-x sv-link-wrapper" *ngIf="isAuthenticated">
      <a class="sv-link" [routerLink]="['/my-profile']">{{ 'UserProfile.MyProfile' | translate }}</a>
    </li>
    <li nz-menu-item class="sv-margin-x sv-link-wrapper" nz-menu-item *ngIf="isAuthenticated && isOrganization">
      <a class="sv-link" href="/admin"> Admin </a>
    </li>
    <li nz-menu-item class="sv-margin-x sv-link-wrapper" *ngIf="isAuthenticated">
      <a class="sv-link" (click)="logout()">{{ 'ProfileActionBar.Logout' | translate }}</a>
    </li>
  </ul> -->
  <nz-radio-group class="radio-group" [(ngModel)]="language" nzButtonStyle="solid" (ngModelChange)="switchLanguage()">
    <label nz-radio-button nzValue="en" class="language-label">English</label>
    <label nz-radio-button nzValue="es">Spanish</label>
  </nz-radio-group>
</nz-header>
