.logo {
  width: 100%;
  padding-left: 1.4em;
  font-size: 2em;
}

.header {
  display: flex;
  align-items: center;
}

ul {
  height: 100%;
  border-bottom: none;
  display: flex;
}

li a {
  padding: 0.5em;
}

a {
  font-weight: 600;
}
