@import '../../../../styles.less';

@color-neutral-white: #ffffff;
@color-neutral-dark: #1a051d;
@color-gray-1: #333333;
@color-ghost-white: #f2f2f2;
@color-black: #000000;
@primary-ghost-white: #fefefe;
@font-family: 'Proxima Nova', 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

.header {
  // position: relative;
  display: flex;
  align-items: center;
  background-color: @avatar-bg;
}

// ul {
//   height: 100%;
//   border-bottom: none;
//   display: flex;
//   margin-bottom: 0.062em;
// }

// Donate Logo
.logo {
  width: 100%;
  img {
    position: absolute;
    top: 1.1em;
    left: 1.4em;
    bottom: 1.05em;
    width: 7.5em;
  }
}

// Avatar
.container-username {
  // width: @avata
  display: flex;
  flex-direction: row;
}

.avatar {
  background-color: @color-neutral-dark;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  left: 0.5em;
  span {
    color: @color-neutral-white;
    position: relative;
    left: 6px;
    bottom: 2px;
  }
}

// Links
.menu-link {
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.ant-btn:hover {
  color: #f2f2f2;
}

// Dropdown Menu
.dropdown-menu {
  margin-right: 25px;
  min-width: 9.9em;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: @color-neutral-white;
  border: 1px solid @color-ghost-white;
  box-sizing: border-box;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 0.3em;

  .user-name {
    margin-left: 0.8em;
    font-family: @font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  i {
    margin-right: 0.959em;
  }
}

.menu-item {
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: @color-black;
}

.ant-dropdown-menu {
  background: @color-neutral-white;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

// Language buttons
.radio-group {
  margin-right: 1.6em;
}

.ant-radio-button-wrapper {
  background: @color-neutral-white;
  border: @color-neutral-white;
  border-radius: 0.3em;
  width: 4.75em;
  height: 2.334em;

  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6em;
  line-height: 1em;
  color: @color-neutral-dark;
  margin-bottom: 23px;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: @color-gray-1;
  line-height: 1em;

  color: @color-neutral-white;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: @color-neutral-white;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: @color-neutral-white;
}
