.logo {
  width: 100%;
  padding-left: 1.4em;
  font-size: 2em;
  img {
    width: 3.5em;
  }
}

.header {
  display: flex;
  align-items: center;
}

ul {
  height: 100%;
  border-bottom: none;
  display: flex;
  margin-bottom: 0.062em;
}

li a {
  padding: 0.5em;
}

a {
  font-weight: 600;
}
