<form nz-form [formGroup]="addressStepForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>
      {{ 'RequestDonation.DonationSteps.AddressStep.Street' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="streetErrorTpl">
      <input
        nz-input
        formControlName="street"
        placeholder="{{ 'RequestDonation.DonationSteps.AddressStep.StreetPlaceholder' | translate }}"
      />
      <ng-template #streetErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'RequestDonation.DonationSteps.AddressStep.RequiredStreet' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>
      {{ 'RequestDonation.DonationSteps.AddressStep.PostalCode' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="postalCodeErrorTpl">
      <input
        nz-input
        formControlName="postalCode"
        placeholder="{{ 'RequestDonation.DonationSteps.AddressStep.PostalCodePlaceHolder' | translate }}"
      />
      <ng-template #postalCodeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'RequestDonation.DonationSteps.AddressStep.RequiredPostalCode' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">{{ 'RequestDonation.DonationSteps.AddressStep.Floor' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        type="number"
        formControlName="floor"
        placeholder="{{ 'RequestDonation.DonationSteps.AddressStep.FloorPlaceHolder' | translate }}"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">
      {{ 'RequestDonation.DonationSteps.AddressStep.Appartment' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="appartment"
        placeholder="{{ 'RequestDonation.DonationSteps.AddressStep.AppartmentPlaceHolder' | translate }}"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">
      {{ 'RequestDonation.DonationSteps.AddressStep.AdditionalInformation' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12">
      <textarea
        formControlName="additionalInformation"
        nz-input
        rows="2"
        placeholder="{{ 'RequestDonation.DonationSteps.AddressStep.AdditionalInformationPlaceHolder' | translate }}"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>
      {{ 'RequestDonation.DonationSteps.AddressStep.Country' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="countryErrorTpl">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="{{ 'RequestDonation.DonationSteps.AddressStep.CountryPlaceHolder' | translate }}"
        formControlName="countryId"
        (ngModelChange)="setStates()"
      >
        <nz-option
          *ngFor="let country of this.donationSandbox.countries$ | async"
          [nzValue]="country.id"
          [nzLabel]="country.name"
        >
        </nz-option>
      </nz-select>
      <ng-template #countryErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'RequestDonation.DonationSteps.AddressStep.RequiredCountry' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>
      {{ 'RequestDonation.DonationSteps.AddressStep.State' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="stateErrorTpl">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="{{ 'RequestDonation.DonationSteps.AddressStep.StatePlaceHolder' | translate }}"
        formControlName="stateId"
        (ngModelChange)="setCities()"
      >
        <nz-option
          *ngFor="let state of this.donationSandbox.states$ | async"
          [nzValue]="state.id"
          [nzLabel]="state.name"
        >
        </nz-option>
      </nz-select>
      <ng-template #stateErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'RequestDonation.DonationSteps.AddressStep.RequiredState' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>
      {{ 'RequestDonation.DonationSteps.AddressStep.City' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="cityErrorTpl">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="{{ 'RequestDonation.DonationSteps.AddressStep.CityPlaceHolder' | translate }}"
        formControlName="cityId"
      >
        <nz-option *ngFor="let city of this.donationSandbox.cities$ | async" [nzValue]="city.id" [nzLabel]="city.name">
        </nz-option>
      </nz-select>
      <ng-template #cityErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ 'RequestDonation.DonationSteps.AddressStep.RequiredCity' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
