<div class="div-form-container">
  <form class="form-container" nz-form [nzLayout]="'vertical'" [formGroup]="addressStepForm">
    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.AddressStep.Street' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="streetErrorTpl">
        <input nz-input formControlName="street" />
        <ng-template #streetErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.AddressStep.RequiredStreet' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col>
      <nz-form-label>{{ 'RequestDonation.DonationSteps.AddressStep.Floor' | translate }}</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="floor" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>
        {{ 'RequestDonation.DonationSteps.AddressStep.Appartment' | translate }}
      </nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="appartment" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.AddressStep.PostalCode' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="postalCodeErrorTpl">
        <input nz-input formControlName="postalCode" />
        <ng-template #postalCodeErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.AddressStep.RequiredPostalCode' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.AddressStep.Country' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="countryErrorTpl">
        <nz-select nzShowSearch nzAllowClear formControlName="countryId" (ngModelChange)="setStates()">
          <nz-option
            *ngFor="let country of this.donationSandbox.countries$ | async"
            [nzValue]="country.id"
            [nzLabel]="country.name"
          >
          </nz-option>
        </nz-select>
        <ng-template #countryErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.AddressStep.RequiredCountry' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.AddressStep.State' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="stateErrorTpl">
        <nz-select nzShowSearch nzAllowClear formControlName="stateId" (ngModelChange)="setCities()">
          <nz-option
            *ngFor="let state of this.donationSandbox.states$ | async"
            [nzValue]="state.id"
            [nzLabel]="state.name"
          >
          </nz-option>
        </nz-select>
        <ng-template #stateErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.AddressStep.RequiredState' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        {{ 'RequestDonation.DonationSteps.AddressStep.City' | translate }}
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="cityErrorTpl">
        <nz-select nzShowSearch nzAllowClear formControlName="cityId">
          <nz-option
            *ngFor="let city of this.donationSandbox.cities$ | async"
            [nzValue]="city.id"
            [nzLabel]="city.name"
          >
          </nz-option>
        </nz-select>
        <ng-template #cityErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'RequestDonation.DonationSteps.AddressStep.RequiredCity' | translate }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>
        {{ 'RequestDonation.DonationSteps.AddressStep.AdditionalInformation' | translate }}
      </nz-form-label>
      <nz-form-control>
        <textarea formControlName="additionalInformation" nz-input rows="2"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
