<form nz-form [formGroup]="addressStepForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Street</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="streetErrorTpl">
      <input nz-input formControlName="street" placeholder="Street name" />
      <ng-template #streetErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your street!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Postal Code</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="postalCodeErrorTpl">
      <input nz-input formControlName="postalCode" placeholder="Postal Code" />
      <ng-template #postalCodeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your Postal Code!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">Floor</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input type="number" formControlName="floor" placeholder="Floor number" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">Appartment</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="appartment" placeholder="Appartment" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">Additional Information</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <textarea formControlName="comment" nz-input rows="2" placeholder="Additional information"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>
