ul {
  padding: 3em 0.62em 0.62em 0em;
  border-right: none !important;
}

li {
  padding-left: 0em !important;
  padding-right: 0em !important;
}

a {
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  height: 100%;
}

.main-layout-content {
  padding: 1.5em;
}

.table-operations {
  margin-bottom: 1.5em;
}

.create-button {
  float: right;
}

.section-title {
  display: inline;
}

.ant-btn {
  margin-right: 1em;
}

.link-container {
  display: flex;
  flex-direction: column;
  color: inherit;
}

.element-container {
  height: 4em;
  text-align: center;
}
.ico-container {
  font-size: 1.5em;
}
.title-container {
  font-weight: 300;
}
