@import '~ng-zorro-antd/ng-zorro-antd.min.css';
#main-layout .content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
}

#main-layout {
  height: 100%;
}

.admin-layout {
  margin-top: 4.4em;
}

.menu-link {
  display: flex !important;
  align-items: center;
}

svg {
  font-size: 2em;
}

.section-layout {
  padding: 1.5em;
}

.main-layout-content {
  background: rgb(255, 255, 255);
  padding: 1.5em;
  min-height: 280px;
}

.table-operations {
  margin-bottom: 1.5em;
}

.create-button {
  float: right;
}

.section-title {
  display: inline;
}

.ant-btn {
  margin-right: 1em;
}
