ul {
  padding: 10px;
  border-right: none !important;
}

li {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

a {
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  height: 100%;
}

.main-layout-content {
  padding: 1.5em;
}

.table-operations {
  margin-bottom: 1.5em;
}

.create-button {
  float: right;
}

.section-title {
  display: inline;
}

.ant-btn {
  margin-right: 1em;
}
