<nz-layout class="container">
  <app-nav-menu></app-nav-menu>
  <nz-layout>
    <nz-sider class="side-nav">
      <ul nz-menu>
        <li class="sv-link-wrapper sv-margin-y" *ngFor="let menu of menus" nz-menu-item>
          <a *ngIf="menu.show" class="sv-link" routerLink="{{ menu.url }}">
            <i nz-icon [nzTheme]="'outline'" nzType="{{ menu.iconType }}"></i>
            <span>{{ menu.title | translate }}</span>
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="section-layout">
      <main class="main-layout-content">
        <router-outlet></router-outlet>
      </main>
    </nz-layout>
  </nz-layout>
</nz-layout>
