<nz-layout class="container">
  <app-nav-menu></app-nav-menu>
  <nz-layout>
    <nz-sider class="side-nav">
      <ul>
        <ng-container>
          <li class="element-container sv-link-wrapper sv-margin-y">
            <a class="sv-link link-container" routerLink="./donations">
              <i nz-icon class="ico-container" [nzTheme]="'outline'">
                <app-svg></app-svg>
              </i>
              <ng-container>
                <small class="title-container">{{ 'Admin.Menu.Title.Donation' | translate }} </small>
              </ng-container>
            </a>
          </li>
        </ng-container>

        <ng-container *ngFor="let menu of menus">
          <li class="element-container sv-link-wrapper sv-margin-y" *ngIf="menu.show">
            <a class="sv-link link-container" routerLink="{{ menu.url }}">
              <i nz-icon class="ico-container" [nzTheme]="'outline'" nzType="{{ menu.iconType }}"></i>
              <ng-container>
                <small class="title-container">{{ menu.title | translate }}</small>
              </ng-container>
            </a>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout class="section-layout">
      <main class="main-layout-content">
        <router-outlet></router-outlet>
      </main>
    </nz-layout>
  </nz-layout>
</nz-layout>
