<nz-layout id="main-layout">
  <app-nav-menu></app-nav-menu>
  <nz-layout class="admin-layout">
    <nz-sider nzTheme="light">
      <ul nz-menu>
        <li *ngFor="let menu of menus" nz-menu-item>
          <a class="menu-link" routerLink="{{ menu.url }}">
            <i nz-icon [nzTheme]="'outline'" nzType="{{ menu.iconType }}"></i>
            {{ menu.title | translate }}
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="section-layout">
      <main class="main-layout-content">
        <router-outlet></router-outlet>
      </main>
    </nz-layout>
  </nz-layout>
</nz-layout>
