.search-box {
  padding: 0.5em;
}

.search-box input {
  width: 12em;
  margin-bottom: 0.5em;
  display: block;
}

label.filter {
  color: #bfbfbf;
}

.action-icon {
  font-size: 1.5em;
}

.icon-link {
  color: grey;
}

a {
  color: #0366d6;
}
