<div class="table-operations">
  <h4 class="section-title">{{ 'Organization.Title' | translate }}</h4>
  <div class="create-button">
    <button nz-button nzType="primary" class="ant-btn-primary">
      {{ 'Organization.Create' | translate }}
    </button>
  </div>
  <nz-divider></nz-divider>
  <button class="ant-btn">{{ 'Organization.ClearFilter' | translate }}</button>
  <button class="ant-btn">{{ 'Organization.ClearFilterAndSorted' | translate }}</button>
</div>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>{{ 'Organization.Name' | translate }}</th>
      <th>{{ 'Organization.Age' | translate }}</th>
      <th>{{ 'Organization.Address' | translate }}</th>
      <th>{{ 'Organization.Action' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
      <td>
        <a>{{ 'Organization.Action' | translate }} 一 {{ data.name }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>{{ 'Organization.Delete' | translate }}</a>
      </td>
    </tr>
  </tbody>
</nz-table>
