<div *ngIf="outlet.isActivated == false">
  <nz-spin *ngIf="this.organizationSandbox.loadAction$ | async" nzTip="Loading..."> </nz-spin>
  <div class="table-operations">
    <h4 class="section-title">{{ 'Admin.Organization.Title' | translate }}</h4>
    <div class="create-button">
      <button (click)="router.navigate(['admin/organizations/create'])" nz-button nzType="primary">
        {{ 'Admin.Organization.CreateOrganization' | translate }}
      </button>
    </div>
    <nz-divider></nz-divider>
    <button nz-button nzType="secondary" (click)="reset()">{{ 'Admin.ClearFilter' | translate }}</button>
  </div>
  <nz-table
    #organizationsTable
    [nzData]="organizationList"
    nzTableLayout="fixed"
    [nzNoResult]="customTpl"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzCustomFilter nzColumnKey="name" [nzSortOrder]="'ascend'" [nzSortFn]="true">
          {{ 'Admin.Organization.Table.Name' | translate }}
          <label
            class="filter"
            title="{{ 'Admin.Organization.Table.Filtered' | translate }}"
            *ngIf="searchNameValue.length > 0 && !nameVisible"
          >
            ({{ searchNameValue }})
          </label>
          <nz-filter-trigger
            [(nzVisible)]="nameVisible"
            [nzActive]="searchNameValue.length > 0"
            [nzDropdownMenu]="searchNameMenu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>

        <th nzCustomFilter nzColumnKey="contactName" [nzSortFn]="true">
          {{ 'Admin.Organization.Table.ContactName' | translate }}
          <label
            class="filter"
            title="{{ 'Admin.Organization.Table.Filtered' | translate }}"
            *ngIf="searchContactName.length > 0 && !contactNameVisible"
          >
            ({{ searchContactName }})
          </label>
          <nz-filter-trigger
            [(nzVisible)]="contactNameVisible"
            [nzActive]="searchContactNameValue.length > 0"
            [nzDropdownMenu]="searchContactNameMenu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>

        <th nzCustomFilter nzColumnKey="usersQuantity" [nzSortOrder]="'ascend'" [nzSortFn]="true">
          {{ 'Admin.Organization.Table.UsersQuantity' | translate }}
          <label
            class="filter"
            title="{{ 'Admin.Organization.Table.Filtered' | translate }}"
            *ngIf="searchUsersQuantityValue.length > 0 && !usersQuantityVisible"
          >
            ({{ searchNameValue }})
          </label>
          <nz-filter-trigger
            [(nzVisible)]="usersQuantityVisible"
            [nzActive]="searchUsersQuantityValue.length > 0"
            [nzDropdownMenu]="searchUsersQuantityMenu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>

        <th nzCustomFilter nzColumnKey="usersQuantity" [nzSortOrder]="'ascend'" [nzSortFn]="true">
          {{ 'Admin.Organization.Table.Branches' | translate }}
        </th>

        <th>
          {{ 'Admin.Organization.Table.Action' | translate }}
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let data of organizationsTable.data">
        <tr>
          <td>{{ data.name }}</td>

          <td>{{ data.contact?.fullName }}</td>

          <td>
            <a (click)="seeAssociatedUsers(data.name)">
              {{ data.userOrganizations?.length }}
            </a>
          </td>

          <td>
            {{ data.addresses.length }}
          </td>

          <td>
            <a
              *ngIf="this.isAdmin"
              [routerLink]="['./edit', data.id]"
              nzTooltipTitle="{{ 'Admin.Organization.Edit' | translate }}"
              nzTooltipPlacement="bottom"
              nz-tooltip
              class="icon-link"
            >
              <i nz-icon nzType="edit" nzTheme="outline" class="action-icon"></i>
            </a>
            <nz-divider *ngIf="this.isAdmin" nzType="vertical"></nz-divider>
            <a
              [routerLink]="['./detail', data.id]"
              nzTooltipTitle="{{ 'Admin.Organization.Detail' | translate }}"
              nzTooltipPlacement="bottom"
              nz-tooltip
              class="icon-link"
            >
              <i nz-icon nzType="info-circle" nzTheme="outline" class="action-icon"></i>
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>

<nz-dropdown-menu #searchNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.Organization.Table.Name' | translate }}"
        [(ngModel)]="searchNameValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchName()">
        {{ 'Admin.Organization.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetNameSearch()">
        {{ 'Admin.Organization.Table.Name' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #searchUsersQuantityMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.Organization.Table.UsersQuantity' | translate }}"
        [(ngModel)]="searchUsersQuantityValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchDescription()">
        {{ 'Admin.Organization.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetDescriptionSearch()">
        {{ 'Admin.Organization.Table.Reset' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #searchContactNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.Organization.Table.ContactName' | translate }}"
        [(ngModel)]="searchContactNameValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchContactName()">
        {{ 'Admin.Organization.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetContactNameSearch()">
        {{ 'Admin.Organization.Table.Reset' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<router-outlet #outlet="outlet"></router-outlet>

<ng-template #customTpl let-name>
  <div style="text-align: center;">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>{{ 'NoEntries' | translate }}</p>
  </div>
</ng-template>
