<div class="container">
  <nz-spin *ngIf="this.isLoading" nzTip="Loading..."> </nz-spin>
  <nz-skeleton [nzLoading]="this.donationSandbox.donationRequestLoading$ | async" [nzActive]="true">
    <div *ngIf="donationRequest">
      <div nz-row>
        <div nz-col>
          <h2>
            {{ donationRequest.title }}<span class="subtitle"> - {{ donationRequest.organization?.name }}</span>
          </h2>
        </div>
      </div>
      <div nz-row>
        <span>
          {{ 'RequestDonation.Priority' | translate }}:
          <nz-rate [ngModel]="priority" nzAllowHalf [nzCharacter]="heartIcon" disabled></nz-rate>
          <ng-template #heartIcon><i nz-icon nzType="heart" nzTheme="fill" className="rate-icon"></i></ng-template>
        </span>
      </div>
      <div nz-row>
        <div nz-col>
          <p>{{ donationRequest.observation }}</p>
        </div>
      </div>
      <div nz-row>
        <div nz-col>
          <span class="resources-title"> {{ 'RequestDonation.ResourcesNeeded' | translate }}:</span>
        </div>
      </div>
    </div>
    <div>
      <app-donation-list
        *ngIf="donation || donationRequest"
        [donation]="donation"
        [donationRequest]="donationRequest"
        [isEdit]="isEdit"
        (showDonationConfirmModal)="showDonationConfirmModal($event)"
      ></app-donation-list>
    </div>
  </nz-skeleton>
</div>

<ng-template #modalContent>
  <app-donation-confirm
    (showDonationConfirmModal)="showDonationConfirmModal($event)"
    (isSubmited)="submited($event)"
    [donationItems]="donationItems"
    [donation]="donation"
    [isEdit]="isEdit"
  ></app-donation-confirm>
</ng-template>
