<div class="donations-container">
  <nz-skeleton [nzLoading]="isLoading" [nzActive]="true">
    <div>
      <nz-row>
        <nz-col>
          <h2>
            {{ donation.title }}<span class="subtitle"> - {{ donation.organization?.name }}</span>
          </h2>
        </nz-col>
      </nz-row>
      <nz-row>
        <span>
          {{ 'RequestDonation.Priority' | translate }}:
          <nz-rate [ngModel]="donation.priority" nzAllowHalf [nzCharacter]="heartIcon" disabled></nz-rate>
          <ng-template #heartIcon><i nz-icon nzType="heart" nzTheme="fill" className="rate-icon"></i></ng-template>
        </span>
      </nz-row>
      <nz-row>
        <nz-col>
          <p>{{ donation.observation }}</p>
        </nz-col>
      </nz-row>
      <nz-row>
        <nz-col>
          <span class="resources-title"> {{ 'RequestDonation.ResourcesNeeded' | translate }}:</span>
        </nz-col>
      </nz-row>
    </div>
    <div>
      <app-donation-list></app-donation-list>
    </div>
  </nz-skeleton>
</div>
