<div class="table-operations">
  <h4 class="section-title">{{ 'Admin.User.Title' | translate }}</h4>
  <nz-divider></nz-divider>
  <button nz-button nzType="secondary">{{ 'Admin.ClearFilter' | translate }}</button>
  <button nz-button nzType="secondary">{{ 'Admin.ClearFilterAndSorted' | translate }}</button>
</div>
<nz-table #userTable [nzData]="this.userSandbox.users$ | async" nzTableLayout="fixed">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of userTable.data">
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.email }}</td>
      <td>
        <a (click)="editUser(data)">{{ 'Admin.Edit' | translate }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>{{ 'Admin.Details' | translate }}</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<app-popup-modal [user]="this.user"></app-popup-modal>
