<div class="table-operations">
  <h2 class="section-title">
    {{ 'Admin.User.Title' | translate }}
    <span *ngIf="organizationName">{{ 'Admin.User.OrganizationTitle' | translate }} {{ organizationName }}</span>
  </h2>
  <nz-divider></nz-divider>
  <button nz-button nzType="secondary" (click)="reset()">{{ 'Admin.ClearFilter' | translate }}</button>
</div>
<nz-table
  #userTable
  [nzData]="usersList"
  nzTableLayout="fixed"
  [nzNoResult]="customTpl"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="fullName" nzCustomFilter [nzSortOrder]="'ascend'" [nzSortFn]="true">
        {{ 'Admin.User.Table.Name' | translate }}
        <label
          class="filter"
          title="{{ 'Admin.User.Table.Filtered' | translate }}"
          *ngIf="searchNameValue.length > 0 && !searchNameVisible"
        >
          ({{ searchNameValue }})
        </label>
        <nz-filter-trigger
          [(nzVisible)]="searchNameVisible"
          [nzActive]="searchNameValue.length > 0"
          [nzDropdownMenu]="searchNameMenu"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>

      <th [nzSortFn]="true" nzCustomFilter>
        {{ 'Admin.User.Table.Organization' | translate }}
        <label
          class="filter"
          title="{{ 'Admin.User.Table.Filtered' | translate }}"
          *ngIf="searchOrganizationValue.length > 0 && !searchOrganizationVisible"
        >
          ({{ searchOrganizationValue }})
        </label>
        <nz-filter-trigger
          [(nzVisible)]="searchOrganizationVisible"
          [nzActive]="searchOrganizationValue.length > 0"
          [nzDropdownMenu]="searchOrganizationMenu"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>

      <th [nzSortFn]="true" nzCustomFilter>
        {{ 'Admin.User.Table.Email' | translate }}
        <label
          class="filter"
          title="{{ 'Admin.User.Table.Filtered' | translate }}"
          *ngIf="searchEmailValue.length > 0 && !searchEmailVisible"
        >
          ({{ searchEmailValue }})
        </label>
        <nz-filter-trigger
          [(nzVisible)]="searchEmailVisible"
          [nzActive]="searchEmailValue.length > 0"
          [nzDropdownMenu]="searchEmailMenu"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>

      <th>{{ 'Admin.User.Table.Action' | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of userTable.data">
      <td>{{ data.fullName }}</td>
      <td>{{ showOrganizations(data.organizations) }}</td>
      <td>{{ data.email }}</td>
      <td>
        <a (click)="editUser(data)">{{ 'Admin.User.Associate' | translate }}</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #searchNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.User.Table.Name' | translate }}"
        [(ngModel)]="searchNameValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchName()">
        {{ 'Admin.User.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetNameSearch()">
        {{ 'Admin.User.Table.Reset' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #searchOrganizationMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.User.Table.Organization' | translate }}"
        [(ngModel)]="searchOrganizationValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchOrganization()">
        {{ 'Admin.User.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetOrganizationSearch()">
        {{ 'Admin.User.Table.Reset' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #searchEmailMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="{{ 'Admin.User.Table.Email' | translate }}"
        [(ngModel)]="searchEmailValue"
      />
      <button nz-button nzSize="small" nzType="primary" (click)="searchEmail()">
        {{ 'Admin.User.Table.Search' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="resetEmailSearch()">
        {{ 'Admin.User.Table.Reset' | translate }}
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<app-popup-modal (associateResult)="associateResult($event)"></app-popup-modal>

<ng-template #customTpl let-name>
  <div style="text-align: center;">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>{{ 'NoEntries' | translate }}</p>
  </div>
</ng-template>
