.donation-request-item-add {
  margin: 1em;
  align-self: center;
  margin-bottom: 2em;
}

.create-donation-add-item-container {
  display: flex;
}

.create-donation-add-item-container div {
  display: flex;
  align-items: baseline;
  margin-left: 1em;
}

.create-item-container {
  display: flex;
  flex-direction: column;
}

.create-donation-add-item-box-first {
  width: 50%;
}

.create-donation-add-item-box-second {
  width: 40%;
}

.create-donation-add-item-input nz-form-item,
.create-donation-add-item-box-second nz-select {
  width: 100%;
}

.create-donation-add-item-input {
  width: 100%;
  margin-left: 1em;
}

.item-unit {
  width: 6em !important;
}

.item-required {
  color: lightgray;
  font-style: italic;
}

.item-quantity {
  margin-left: 0 !important;
  width: 100%;
}

.donatios-item {
  margin-bottom: 1em;
}
