<div>
  <div class="create-priority-question-title">
    <h4 class="section-title">{{ 'Admin.PriorityQuestion.Create.Title' | translate }}</h4>
  </div>
  <br />
  <app-questions-form></app-questions-form>
  <br />
  <div class="create-priority-question-form-buttons">
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.PriorityQuestion.CreateConfirm' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="createQuestions()"
      nz-button
      nzType="primary"
      type="submit"
    >
      {{ 'Admin.PriorityQuestion.Create.CreateRequest' | translate }}
    </button>
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.Donation.BackConfirm' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="goBack()"
      nz-button
      nzType="primary"
    >
      {{ 'BackBtn' | translate }}
    </button>
  </div>
</div>
