<div>
  <div class="create-priority-question-title">
    <h4 class="section-title">{{ 'Admin.PriorityQuestion.Create.Title' | translate }}</h4>
  </div>
  <br />
  <form nz-form>
    <div [formGroup]="questionItemFormGroup" class="create-priority-question-add-item-container">
      <div class="create-priority-question-add-item-box-first">
        <div class="create-item-container">
          <nz-form-label class="priority-question-item">{{
            'Admin.PriorityQuestion.Form.Label' | translate
          }}</nz-form-label>
          <nz-form-label class="priority-question-item">{{
            'Admin.PriorityQuestion.Form.Placeholder' | translate
          }}</nz-form-label>
          <nz-form-label class="priority-question-item">{{
            'Admin.PriorityQuestion.Form.DefaultValue' | translate
          }}</nz-form-label>
        </div>
        <div class="create-item-container create-priority-question-add-item-input">
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'Admin.PriorityQuestion.Form.LabelRequired' | translate }}">
              <input
                nz-input
                placeholder="{{ 'Admin.PriorityQuestion.Form.LabelPlaceHolder' | translate }}"
                formControlName="labelFormControl"
                type="text"
                [(ngModel)]="label"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'Admin.PriorityQuestion.Form.PlaceholderRequired' | translate }}">
              <input
                nz-input
                placeholder="{{ 'Admin.PriorityQuestion.Form.PlaceholderPlaceHolder' | translate }}"
                formControlName="placeholderFormControl"
                type="text"
                [(ngModel)]="placeholder"
              />
            </nz-form-control>
          </nz-form-item>
          <div class="item-quantity">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Admin.PriorityQuestion.Form.DefaultValueRequired' | translate }}">
                <input
                  nz-input
                  placeholder="{{ 'Admin.PriorityQuestion.Form.DefaultValuePlaceHolder' | translate }}"
                  formControlName="defaultValueFormControl"
                  type="text"
                  [disabled]="
                    select.activatedValue == 'RadioButton' ||
                    select.activatedValue == 'Checkbox' ||
                    select.activatedValue == 'DropDown'
                  "
                  [(ngModel)]="defaultValue"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="create-priority-question-add-item-box-second">
        <div class="create-item-container">
          <nz-form-label class="priority-question-item">{{
            'Admin.PriorityQuestion.Form.Order' | translate
          }}</nz-form-label>
          <nz-form-label class="priority-question-item">{{
            'Admin.PriorityQuestion.Form.Weight' | translate
          }}</nz-form-label>
          <nz-form-label class="priority-question-item">{{
            'Admin.PriorityQuestion.Form.ControlType' | translate
          }}</nz-form-label>
        </div>
        <div class="create-item-container create-priority-question-add-item-input">
          <div class="item-quantity">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Admin.PriorityQuestion.Form.OrderRequired' | translate }}">
                <input
                  nz-input
                  placeholder="{{ 'Admin.PriorityQuestion.Form.OrderPlaceHolder' | translate }}"
                  formControlName="orderFormControl"
                  type="number"
                  [(ngModel)]="order"
                  min="1"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="item-quantity">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Admin.PriorityQuestion.Form.WeightRequired' | translate }}">
                <input
                  nz-input
                  placeholder="{{ 'Admin.PriorityQuestion.Form.WeightPlaceHolder' | translate }}"
                  formControlName="weightFormControl"
                  type="number"
                  min="1"
                  [(ngModel)]="weight"
                  max="100"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'Admin.PriorityQuestion.Form.ControlTypeRequired' | translate }}">
              <nz-select
                #select
                formControlName="controlTypeFormControl"
                nzPlaceHolder="{{ 'Admin.PriorityQuestion.Form.ControlTypePlaceHolder' | translate }}"
                [(ngModel)]="controlTypeId"
              >
                <nz-option
                  *ngFor="let controlType of this.questionSandbox.controlTypes$ | async"
                  [nzLabel]="controlType.name"
                  [nzValue]="controlType.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <!-- Radio Button Options-->
          <nz-form-item *ngIf="controlTypeId == 2">
            <nz-radio-group>
              <nz-form-item *ngFor="let o of optionsArray?.controls; index as i">
                <ng-container [formGroup]="o">
                  <label nz-radio [nzValue]="i" formControlName="optionValue" class="option-nz-label"></label>
                  <nz-form-control
                    nzErrorTip="Please input option for this question or delete this field."
                    class="option-input-form"
                  >
                    <input class="option-input" nz-input placeholder="Enter an option" formControlName="optionLabel" />
                    <input
                      class="option-weight"
                      nz-input
                      placeholder="{{ 'Admin.PriorityQuestion.Form.WeightPlaceHolder' | translate }}"
                      formControlName="optionWeight"
                      type="number"
                      min="1"
                    />
                  </nz-form-control>
                  <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(i, $event)"></i>
                </ng-container>
              </nz-form-item>
            </nz-radio-group>

            <nz-form-item class="option-list">
              <nz-form-control>
                <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                  <i nz-icon nzType="plus"></i>
                  Add field
                </button>
              </nz-form-control>
            </nz-form-item>
          </nz-form-item>

          <!-- Checkbox Options-->
          <nz-form-item *ngIf="controlTypeId == 3">
            <nz-checkbox-wrapper>
              <nz-form-item *ngFor="let o of optionsArray?.controls; index as i">
                <ng-container [formGroup]="o">
                  <label nz-checkbox [nzValue]="i" formControlName="optionValue" class="option-nz-label"></label>
                  <nz-form-control
                    nzErrorTip="Please input option for this question or delete this field."
                    class="option-input-form"
                  >
                    <input class="option-input" nz-input placeholder="Enter an option" formControlName="optionLabel" />
                    <input
                      class="option-weight"
                      nz-input
                      placeholder="{{ 'Admin.PriorityQuestion.Form.WeightPlaceHolder' | translate }}"
                      formControlName="optionWeight"
                      type="number"
                      min="1"
                    />
                    <i
                      nz-icon
                      nzType="minus-circle-o"
                      class="dynamic-delete-button"
                      (click)="removeField(i, $event)"
                    ></i>
                  </nz-form-control>
                </ng-container>
              </nz-form-item>
            </nz-checkbox-wrapper>

            <nz-form-item class="option-list">
              <nz-form-control>
                <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                  <i nz-icon nzType="plus"></i>
                  Add field
                </button>
              </nz-form-control>
            </nz-form-item>
          </nz-form-item>

          <!-- Dropdown Options-->
          <nz-form-item *ngIf="controlTypeId == 4">
            <nz-checkbox-wrapper>
              <nz-form-item *ngFor="let o of optionsArray?.controls; index as i">
                <ng-container [formGroup]="o">
                  <nz-form-control
                    nzErrorTip="Please input option for this question or delete this field."
                    class="option-input-form"
                  >
                    <input class="option-input" nz-input placeholder="Enter an option" formControlName="optionLabel" />
                    <input
                      class="option-weight"
                      nz-input
                      placeholder="{{ 'Admin.PriorityQuestion.Form.WeightPlaceHolder' | translate }}"
                      formControlName="optionWeight"
                      type="number"
                      min="1"
                    />
                    <i
                      nz-icon
                      nzType="minus-circle-o"
                      class="dynamic-delete-button"
                      (click)="removeField(i, $event)"
                    ></i>
                  </nz-form-control>
                </ng-container>
              </nz-form-item>
            </nz-checkbox-wrapper>

            <nz-form-item class="option-list">
              <nz-form-control>
                <button nz-button nzType="dashed" class="add-button-dropdown" (click)="addField($event)">
                  <i nz-icon nzType="plus"></i>
                  Add field
                </button>
              </nz-form-control>
            </nz-form-item>
          </nz-form-item>
        </div>
      </div>

      <button
        type="button"
        class="priority-question-request-item-add"
        (click)="addQuestion()"
        nz-button
        nzType="primary"
      >
        {{ 'Admin.PriorityQuestion.Form.AddItem' | translate }}
      </button>
    </div>
  </form>

  <span class="item-required">{{ 'Admin.PriorityQuestion.Form.PriorityQuestionRequiredError' | translate }}</span>
  <br />
  <nz-table
    [nzData]="questions"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzNoResult]="customTpl"
  >
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumns">
          {{ column.name | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of questions">
        <td>{{ item.label }}</td>
        <td>{{ item.placeholder }}</td>
        <td>{{ item.order }}</td>
        <td>{{ item.weight }}</td>
        <td>{{ item.controlType?.name }}</td>
        <td>{{ item.defaultValue }}</td>
        <td>
          <span *ngFor="let option of item.options"> {{ option.label }} -</span>
        </td>
        <td>
          <a (click)="editQuestion(item)">{{ 'Admin.PriorityQuestion.Table.EditQuestion' | translate }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="removeQuestion(item)">{{ 'Admin.PriorityQuestion.Table.DeleteQuestion' | translate }}</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div id="weightError" hidden="true" class="error-required">
    {{ 'Admin.PriorityQuestion.Form.PriorityQuestionRequiredError' | translate }}"
  </div>
  <ng-template #customTpl let-name>
    <div style="text-align: center;">
      <nz-empty [nzNotFoundContent]="null"></nz-empty>
      <p>{{ 'NoEntries' | translate }}</p>
    </div>
  </ng-template>

  <br />
  <div class="create-priority-question-form-buttons">
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.PriorityQuestion.CreateConfirm' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="createQuestions()"
      nz-button
      nzType="primary"
      type="submit"
    >
      {{ 'Admin.PriorityQuestion.Create.CreateRequest' | translate }}
    </button>
    <button
      nz-popconfirm
      nzPopconfirmTitle="{{ 'Admin.Donation.BackConfirm' | translate }}"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="goBack()"
      nz-button
      nzType="primary"
    >
      {{ 'BackBtn' | translate }}
    </button>
  </div>
</div>
