svg {
  filter: invert(92%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(35%) contrast(100%);
  width: 1.2em;
}

svg:hover {
  filter: invert(53%) sepia(34%) saturate(7226%) hue-rotate(191deg) brightness(85%) contrast(105%);
}
